In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/tanmay agarwal/Combined_BN_spot_2007-Latest.csv')

In [ ]:
df.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Time,Date_time
0,0,2006-10-20,5334.85,5367.55,5334.85,5363.75,0,09:55:00,2006-10-20 09:55:00
1,1,2006-10-20,5363.20,5363.40,5354.25,5358.70,0,10:00:00,2006-10-20 10:00:00
2,2,2006-10-20,5360.60,5360.60,5357.05,5357.80,0,10:05:00,2006-10-20 10:05:00
3,3,2006-10-20,5356.55,5356.80,5353.55,5355.25,0,10:10:00,2006-10-20 10:10:00
4,4,2006-10-20,5354.75,5355.10,5352.75,5352.75,0,10:15:00,2006-10-20 10:15:00

In [ ]:
df = df.drop(columns=['Unnamed: 0'])

In [ ]:
df['Date'] =  pd.to_datetime(df['Date'])

In [ ]:
df.head()

,Date,Open,High,Low,Close,Volume,Time,Date_time
0,2006-10-20,5334.85,5367.55,5334.85,5363.75,0,09:55:00,2006-10-20 09:55:00
1,2006-10-20,5363.20,5363.40,5354.25,5358.70,0,10:00:00,2006-10-20 10:00:00
2,2006-10-20,5360.60,5360.60,5357.05,5357.80,0,10:05:00,2006-10-20 10:05:00
3,2006-10-20,5356.55,5356.80,5353.55,5355.25,0,10:10:00,2006-10-20 10:10:00
4,2006-10-20,5354.75,5355.10,5352.75,5352.75,0,10:15:00,2006-10-20 10:15:00

In [ ]:
filtered_df = df[df['Date'].dt.year == 2011]
filtered_df

,Date,Open,High,Low,Close,Volume,Time,Date_time
346914,2011-01-03,11882.10,11882.10,11882.10,11882.10,0,09:15:00,2011-01-03 09:15:00
346915,2011-01-03,11882.10,11900.90,11876.15,11883.35,0,09:16:00,2011-01-03 09:16:00
346916,2011-01-03,11883.35,11888.60,11873.35,11886.85,0,09:17:00,2011-01-03 09:17:00
346917,2011-01-03,11886.85,11894.55,11884.45,11893.05,0,09:18:00,2011-01-03 09:18:00
346918,2011-01-03,11893.05,11893.05,11885.45,11892.55,0,09:19:00,2011-01-03 09:19:00
...,...,...,...,...,...,...,...,...
439496,2011-12-30,7956.25,7959.90,7955.80,7959.55,0,15:27:00,2011-12-30 15:27:00
439497,2011-12-30,7959.55,7963.45,7959.55,7961.05,0,15:28:00,2011-12-30 15:28:00
439498,2011-12-30,7961.05,7961.05,7953.30,7954.70,0,15:29:00,2011-12-30 15:29:00
439499,2011-12-30,7955.30,7956.90,7952.55,7954.75,0,15:30:00,2011-12-30 15:30:00
439500,2011-12-30,7954.75,7958.05,7954.75,7958.05,0,15:31:00,2011-12-30 15:31:00

In [ ]:
rdf = df[346914:]
rdf

,Date,Open,High,Low,Close,Volume,Time,Date_time
346914,2011-01-03,11882.10,11882.10,11882.10,11882.10,0,09:15:00,2011-01-03 09:15:00
346915,2011-01-03,11882.10,11900.90,11876.15,11883.35,0,09:16:00,2011-01-03 09:16:00
346916,2011-01-03,11883.35,11888.60,11873.35,11886.85,0,09:17:00,2011-01-03 09:17:00
346917,2011-01-03,11886.85,11894.55,11884.45,11893.05,0,09:18:00,2011-01-03 09:18:00
346918,2011-01-03,11893.05,11893.05,11885.45,11892.55,0,09:19:00,2011-01-03 09:19:00
...,...,...,...,...,...,...,...,...
1483682,2023-04-19,42142.00,42150.25,42135.75,42149.80,0,15:25:00,2023-04-19 15:25:00
1483683,2023-04-19,42150.30,42150.30,42130.70,42140.80,0,15:26:00,2023-04-19 15:26:00
1483684,2023-04-19,42142.20,42175.40,42142.20,42164.25,0,15:27:00,2023-04-19 15:27:00
1483685,2023-04-19,42167.80,42170.05,42149.85,42157.70,0,15:28:00,2023-04-19 15:28:00
1483686,2023-04-19,42149.00,42162.00,42138.15,42151.10,0,15:29:00,2023-04-19 15:29:00

In [ ]:
rdf = rdf.reset_index(drop=True)
rdf

,Date,Open,High,Low,Close,Volume,Time,Date_time
0,2011-01-03,11882.10,11882.10,11882.10,11882.10,0,09:15:00,2011-01-03 09:15:00
1,2011-01-03,11882.10,11900.90,11876.15,11883.35,0,09:16:00,2011-01-03 09:16:00
2,2011-01-03,11883.35,11888.60,11873.35,11886.85,0,09:17:00,2011-01-03 09:17:00
3,2011-01-03,11886.85,11894.55,11884.45,11893.05,0,09:18:00,2011-01-03 09:18:00
4,2011-01-03,11893.05,11893.05,11885.45,11892.55,0,09:19:00,2011-01-03 09:19:00
...,...,...,...,...,...,...,...,...
1136768,2023-04-19,42142.00,42150.25,42135.75,42149.80,0,15:25:00,2023-04-19 15:25:00
1136769,2023-04-19,42150.30,42150.30,42130.70,42140.80,0,15:26:00,2023-04-19 15:26:00
1136770,2023-04-19,42142.20,42175.40,42142.20,42164.25,0,15:27:00,2023-04-19 15:27:00
1136771,2023-04-19,42167.80,42170.05,42149.85,42157.70,0,15:28:00,2023-04-19 15:28:00
1136772,2023-04-19,42149.00,42162.00,42138.15,42151.10,0,15:29:00,2023-04-19 15:29:00

In [ ]:
rdf[60000:]

,Date,Open,High,Low,Close,Volume,Time,Date_time
60000,2011-08-22,9377.75,9385.95,9370.05,9370.05,0,13:15:00,2011-08-22 13:15:00
60001,2011-08-22,9370.05,9370.05,9355.80,9355.80,0,13:16:00,2011-08-22 13:16:00
60002,2011-08-22,9355.80,9355.80,9344.05,9349.45,0,13:17:00,2011-08-22 13:17:00
60003,2011-08-22,9349.45,9349.45,9335.35,9335.35,0,13:18:00,2011-08-22 13:18:00
60004,2011-08-22,9335.35,9344.25,9335.25,9340.80,0,13:19:00,2011-08-22 13:19:00
...,...,...,...,...,...,...,...,...
1136768,2023-04-19,42142.00,42150.25,42135.75,42149.80,0,15:25:00,2023-04-19 15:25:00
1136769,2023-04-19,42150.30,42150.30,42130.70,42140.80,0,15:26:00,2023-04-19 15:26:00
1136770,2023-04-19,42142.20,42175.40,42142.20,42164.25,0,15:27:00,2023-04-19 15:27:00
1136771,2023-04-19,42167.80,42170.05,42149.85,42157.70,0,15:28:00,2023-04-19 15:28:00
1136772,2023-04-19,42149.00,42162.00,42138.15,42151.10,0,15:29:00,2023-04-19 15:29:00

In [ ]:
unique_dates = rdf['Date'].unique()

# Iterate over the unique dates
for date in unique_dates:
    # Print each unique date
    print(date)
    # Add your code to perform operations on each unique date
len(unique_dates)

2011-01-03T00:00:00.000000000
2011-01-04T00:00:00.000000000
2011-01-05T00:00:00.000000000
2011-01-06T00:00:00.000000000
2011-01-07T00:00:00.000000000
2011-01-10T00:00:00.000000000
2011-01-11T00:00:00.000000000
2011-01-12T00:00:00.000000000
2011-01-13T00:00:00.000000000
2011-01-14T00:00:00.000000000
2011-01-17T00:00:00.000000000
2011-01-18T00:00:00.000000000
2011-01-19T00:00:00.000000000
2011-01-20T00:00:00.000000000
2011-01-21T00:00:00.000000000
2011-01-24T00:00:00.000000000
2011-01-25T00:00:00.000000000
2011-01-27T00:00:00.000000000
2011-01-28T00:00:00.000000000
2011-01-31T00:00:00.000000000
2011-02-01T00:00:00.000000000
2011-02-02T00:00:00.000000000
2011-02-03T00:00:00.000000000
2011-02-04T00:00:00.000000000
2011-02-07T00:00:00.000000000
2011-02-08T00:00:00.000000000
2011-02-09T00:00:00.000000000
2011-02-10T00:00:00.000000000
2011-02-11T00:00:00.000000000
2011-02-14T00:00:00.000000000
2011-02-15T00:00:00.000000000
2011-02-16T00:00:00.000000000
2011-02-17T00:00:00.000000000
2011-02-18T00:00:00.000000000
2011-02-21T00:00:00.000000000
2011-02-22T00:00:00.000000000
2011-02-23T00:00:00.000000000
2011-02-24T00:00:00.000000000
2011-02-25T00:00:00.000000000
2011-02-28T00:00:00.000000000
2011-03-01T00:00:00.000000000
2011-03-03T00:00:00.000000000
2011-03-04T00:00:00.000000000
2011-03-07T00:00:00.000000000
2011-03-08T00:00:00.000000000
2011-03-09T00:00:00.000000000
2011-03-10T00:00:00.000000000
2011-03-11T00:00:00.000000000
2011-03-14T00:00:00.000000000
2011-03-15T00:00:00.000000000
2011-03-16T00:00:00.000000000
2011-03-17T00:00:00.000000000
2011-03-18T00:00:00.000000000
2011-03-21T00:00:00.000000000
2011-03-22T00:00:00.000000000
2011-03-23T00:00:00.000000000
2011-03-24T00:00:00.000000000
2011-03-25T00:00:00.000000000
2011-03-28T00:00:00.000000000
2011-03-29T00:00:00.000000000
2011-03-30T00:00:00.000000000
2011-03-31T00:00:00.000000000
2011-04-01T00:00:00.000000000
2011-04-04T00:00:00.000000000
2011-04-05T00:00:00.000000000
2011-04-06T00:00:00.000000000
2011-04-07T00:00:00.000000000
2011-04-08T00:00:00.000000000
2011-04-11T00:00:00.000000000
2011-04-13T00:00:00.000000000
2011-04-15T00:00:00.000000000
2011-04-18T00:00:00.000000000
2011-04-19T00:00:00.000000000
2011-04-20T00:00:00.000000000
2011-04-21T00:00:00.000000000
2011-04-25T00:00:00.000000000
2011-04-26T00:00:00.000000000
2011-04-27T00:00:00.000000000
2011-04-28T00:00:00.000000000
2011-04-29T00:00:00.000000000
2011-05-02T00:00:00.000000000
2011-05-03T00:00:00.000000000
2011-05-04T00:00:00.000000000
2011-05-05T00:00:00.000000000
2011-05-06T00:00:00.000000000
2011-05-09T00:00:00.000000000
2011-05-10T00:00:00.000000000
2011-05-11T00:00:00.000000000
2011-05-12T00:00:00.000000000
2011-05-13T00:00:00.000000000
2011-05-16T00:00:00.000000000
2011-05-17T00:00:00.000000000
2011-05-18T00:00:00.000000000
2011-05-19T00:00:00.000000000
2011-05-20T00:00:00.000000000
2011-05-23T00:00:00.000000000
2011-05-24T00:00:00.000000000
2011-05-25T00:00:00.000000000
2011-05-26T00:00:00.000000000
2011-05-27T00:00:00.000000000
2011-05-30T00:00:00.000000000
2011-05-31T00:00:00.000000000
2011-06-01T00:00:00.000000000
2011-06-02T00:00:00.000000000
2011-06-03T00:00:00.000000000
2011-06-06T00:00:00.000000000
2011-06-07T00:00:00.000000000
2011-06-08T00:00:00.000000000
2011-06-09T00:00:00.000000000
2011-06-10T00:00:00.000000000
2011-06-13T00:00:00.000000000
2011-06-14T00:00:00.000000000
2011-06-15T00:00:00.000000000
2011-06-16T00:00:00.000000000
2011-06-17T00:00:00.000000000
2011-06-20T00:00:00.000000000
2011-06-21T00:00:00.000000000
2011-06-22T00:00:00.000000000
2011-06-23T00:00:00.000000000
2011-06-24T00:00:00.000000000
2011-06-27T00:00:00.000000000
2011-06-28T00:00:00.000000000
2011-06-29T00:00:00.000000000
2011-06-30T00:00:00.000000000
2011-07-01T00:00:00.000000000
2011-07-04T00:00:00.000000000
2011-07-05T00:00:00.000000000
2011-07-06T00:00:00.000000000
2011-07-07T00:00:00.000000000
2011-07-08T00:00:00.000000000
2011-07-11T00:00:00.000000000
2011-07-12T00:00:00.000000000
2011-07-13T00:00:00.000000000
2011-07-14T00:00:00.000000000
2011-07-15T00:00:00.000000000
2011-07-18T00:00:00.000000000
2011-07-19T00:00:00.000000000
2011-07-20T00:00:00.000000000
2011-07-21T00:00:00.000000000
2011-07-22T00:00:00.000000000
2011-07-25T00:00:00.000000000
2011-07-26T00:00:00.000000000
2011-07-27T00:00:00.000000000
2011-07-28T00:00:00.000000000
2011-07-29T00:00:00.000000000
2011-08-01T00:00:00.000000000
2011-08-02T00:00:00.000000000
2011-08-03T00:00:00.000000000
2011-08-04T00:00:00.000000000
2011-08-05T00:00:00.000000000
2011-08-08T00:00:00.000000000
2011-08-09T00:00:00.000000000
2011-08-10T00:00:00.000000000
2011-08-11T00:00:00.000000000
2011-08-12T00:00:00.000000000
2011-08-16T00:00:00.000000000
2011-08-17T00:00:00.000000000
2011-08-18T00:00:00.000000000
2011-08-19T00:00:00.000000000
2011-08-22T00:00:00.000000000
2011-08-23T00:00:00.000000000
2011-08-24T00:00:00.000000000
2011-08-25T00:00:00.000000000
2011-08-26T00:00:00.000000000
2011-08-29T00:00:00.000000000
2011-08-30T00:00:00.000000000
2011-09-02T00:00:00.000000000
2011-09-05T00:00:00.000000000
2011-09-06T00:00:00.000000000
2011-09-07T00:00:00.000000000
2011-09-08T00:00:00.000000000
2011-09-09T00:00:00.000000000
2011-09-12T00:00:00.000000000
2011-09-13T00:00:00.000000000
2011-09-14T00:00:00.000000000
2011-09-15T00:00:00.000000000
2011-09-16T00:00:00.000000000
2011-09-19T00:00:00.000000000
2011-09-20T00:00:00.000000000
2011-09-21T00:00:00.000000000
2011-09-22T00:00:00.000000000
2011-09-23T00:00:00.000000000
2011-09-26T00:00:00.000000000
2011-09-27T00:00:00.000000000
2011-09-28T00:00:00.000000000
2011-09-29T00:00:00.000000000
2011-09-30T00:00:00.000000000
2011-10-03T00:00:00.000000000
2011-10-04T00:00:00.000000000
2011-10-05T00:00:00.000000000
2011-10-07T00:00:00.000000000
2011-10-10T00:00:00.000000000
2011-10-11T00:00:00.000000000
2011-10-12T00:00:00.000000000
2011-10-13T00:00:00.000000000
2011-10-14T00:00:00.000000000
2011-10-17T00:00:00.000000000
2011-10-18T00:00:00.000000000
2011-10-19T00:00:00.000000000
2011-10-20T00:00:00.000000000
2011-10-21T00:00:00.000000000
2011-10-24T00:00:00.000000000
2011-10-25T00:00:00.000000000
2011-10-26T00:00:00.000000000
2011-10-28T00:00:00.000000000
2011-10-31T00:00:00.000000000
2011-11-01T00:00:00.000000000
2011-11-02T00:00:00.000000000
2011-11-03T00:00:00.000000000
2011-11-04T00:00:00.000000000
2011-11-08T00:00:00.000000000
2011-11-09T00:00:00.000000000
2011-11-11T00:00:00.000000000
2011-11-14T00:00:00.000000000
2011-11-15T00:00:00.000000000
2011-11-16T00:00:00.000000000
2011-11-17T00:00:00.000000000
2011-11-18T00:00:00.000000000
2011-11-21T00:00:00.000000000
2011-11-22T00:00:00.000000000
2011-11-23T00:00:00.000000000
2011-11-24T00:00:00.000000000
2011-11-25T00:00:00.000000000
2011-11-28T00:00:00.000000000
2011-11-29T00:00:00.000000000
2011-11-30T00:00:00.000000000
2011-12-01T00:00:00.000000000
2011-12-02T00:00:00.000000000
2011-12-05T00:00:00.000000000
2011-12-07T00:00:00.000000000
2011-12-08T00:00:00.000000000
2011-12-09T00:00:00.000000000
2011-12-12T00:00:00.000000000
2011-12-13T00:00:00.000000000
2011-12-14T00:00:00.000000000
2011-12-15T00:00:00.000000000
2011-12-16T00:00:00.000000000
2011-12-19T00:00:00.000000000
2011-12-20T00:00:00.000000000
2011-12-21T00:00:00.000000000
2011-12-22T00:00:00.000000000
2011-12-23T00:00:00.000000000
2011-12-26T00:00:00.000000000
2011-12-27T00:00:00.000000000
2011-12-28T00:00:00.000000000
2011-12-29T00:00:00.000000000
2011-12-30T00:00:00.000000000
2012-01-02T00:00:00.000000000
2012-01-03T00:00:00.000000000
2012-01-04T00:00:00.000000000
2012-01-05T00:00:00.000000000
2012-01-06T00:00:00.000000000
2012-01-07T00:00:00.000000000
2012-01-09T00:00:00.000000000
2012-01-10T00:00:00.000000000
2012-01-11T00:00:00.000000000
2012-01-12T00:00:00.000000000
2012-01-13T00:00:00.000000000
2012-01-16T00:00:00.000000000
2012-01-17T00:00:00.000000000
2012-01-18T00:00:00.000000000
2012-01-19T00:00:00.000000000
2012-01-20T00:00:00.000000000
2012-01-23T00:00:00.000000000
2012-01-24T00:00:00.000000000
2012-01-25T00:00:00.000000000
2012-01-27T00:00:00.000000000
2012-01-30T00:00:00.000000000
2012-01-31T00:00:00.000000000
2012-02-01T00:00:00.000000000
2012-02-02T00:00:00.000000000
2012-02-03T00:00:00.000000000
2012-02-06T00:00:00.000000000
2012-02-07T00:00:00.000000000
2012-02-08T00:00:00.000000000
2012-02-09T00:00:00.000000000
2012-02-10T00:00:00.000000000
2012-02-13T00:00:00.000000000
2012-02-14T00:00:00.000000000
2012-02-15T00:00:00.000000000
2012-02-16T00:00:00.000000000
2012-02-17T00:00:00.000000000
2012-02-21T00:00:00.000000000
2012-02-22T00:00:00.000000000
2012-02-23T00:00:00.000000000
2012-02-24T00:00:00.000000000
2012-02-27T00:00:00.000000000
2012-02-28T00:00:00.000000000
2012-02-29T00:00:00.000000000
2012-03-01T00:00:00.000000000
2012-03-02T00:00:00.000000000
2012-03-03T00:00:00.000000000
2012-03-05T00:00:00.000000000
2012-03-06T00:00:00.000000000
2012-03-07T00:00:00.000000000
2012-03-09T00:00:00.000000000
2012-03-12T00:00:00.000000000
2012-03-13T00:00:00.000000000
2012-03-14T00:00:00.000000000
2012-03-15T00:00:00.000000000
2012-03-16T00:00:00.000000000
2012-03-19T00:00:00.000000000
2012-03-20T00:00:00.000000000
2012-03-21T00:00:00.000000000
2012-03-22T00:00:00.000000000
2012-03-23T00:00:00.000000000
2012-03-26T00:00:00.000000000
2012-03-27T00:00:00.000000000
2012-03-28T00:00:00.000000000
2012-03-29T00:00:00.000000000
2012-03-30T00:00:00.000000000
2012-04-02T00:00:00.000000000
2012-04-03T00:00:00.000000000
2012-04-04T00:00:00.000000000
2012-04-09T00:00:00.000000000
2012-04-10T00:00:00.000000000
2012-04-11T00:00:00.000000000
2012-04-12T00:00:00.000000000
2012-04-13T00:00:00.000000000
2012-04-16T00:00:00.000000000
2012-04-17T00:00:00.000000000
2012-04-18T00:00:00.000000000
2012-04-19T00:00:00.000000000
2012-04-20T00:00:00.000000000
2012-04-23T00:00:00.000000000
2012-04-24T00:00:00.000000000
2012-04-25T00:00:00.000000000
2012-04-26T00:00:00.000000000
2012-04-27T00:00:00.000000000
2012-04-28T00:00:00.000000000
2012-04-30T00:00:00.000000000
2012-05-02T00:00:00.000000000
2012-05-03T00:00:00.000000000
2012-05-04T00:00:00.000000000
2012-05-07T00:00:00.000000000
2012-05-08T00:00:00.000000000
2012-05-09T00:00:00.000000000
2012-05-10T00:00:00.000000000
2012-05-11T00:00:00.000000000
2012-05-14T00:00:00.000000000
2012-05-15T00:00:00.000000000
2012-05-16T00:00:00.000000000
2012-05-17T00:00:00.000000000
2012-05-18T00:00:00.000000000
2012-05-21T00:00:00.000000000
2012-05-22T00:00:00.000000000
2012-05-23T00:00:00.000000000
2012-05-24T00:00:00.000000000
2012-05-25T00:00:00.000000000
2012-05-28T00:00:00.000000000
2012-05-29T00:00:00.000000000
2012-05-30T00:00:00.000000000
2012-05-31T00:00:00.000000000
2012-06-01T00:00:00.000000000
2012-06-04T00:00:00.000000000
2012-06-05T00:00:00.000000000
2012-06-06T00:00:00.000000000
2012-06-07T00:00:00.000000000
2012-06-08T00:00:00.000000000
2012-06-11T00:00:00.000000000
2012-06-12T00:00:00.000000000
2012-06-13T00:00:00.000000000
2012-06-14T00:00:00.000000000
2012-06-15T00:00:00.000000000
2012-06-18T00:00:00.000000000
2012-06-19T00:00:00.000000000
2012-06-20T00:00:00.000000000
2012-06-21T00:00:00.000000000
2012-06-22T00:00:00.000000000
2012-06-25T00:00:00.000000000
2012-06-26T00:00:00.000000000
2012-06-27T00:00:00.000000000
2012-06-28T00:00:00.000000000
2012-06-29T00:00:00.000000000
2012-07-02T00:00:00.000000000
2012-07-03T00:00:00.000000000
2012-07-04T00:00:00.000000000
2012-07-05T00:00:00.000000000
2012-07-06T00:00:00.000000000
2012-07-09T00:00:00.000000000
2012-07-10T00:00:00.000000000
2012-07-11T00:00:00.000000000
2012-07-12T00:00:00.000000000
2012-07-13T00:00:00.000000000
2012-07-16T00:00:00.000000000
2012-07-17T00:00:00.000000000
2012-07-18T00:00:00.000000000
2012-07-19T00:00:00.000000000
2012-07-20T00:00:00.000000000
2012-07-23T00:00:00.000000000
2012-07-24T00:00:00.000000000
2012-07-25T00:00:00.000000000
2012-07-26T00:00:00.000000000
2012-07-27T00:00:00.000000000
2012-07-30T00:00:00.000000000
2012-07-31T00:00:00.000000000
2012-08-01T00:00:00.000000000
2012-08-02T00:00:00.000000000
2012-08-03T00:00:00.000000000
2012-08-06T00:00:00.000000000
2012-08-07T00:00:00.000000000
2012-08-08T00:00:00.000000000
2012-08-09T00:00:00.000000000
2012-08-10T00:00:00.000000000
2012-08-13T00:00:00.000000000
2012-08-14T00:00:00.000000000
2012-08-16T00:00:00.000000000
2012-08-17T00:00:00.000000000
2012-08-21T00:00:00.000000000
2012-08-22T00:00:00.000000000
2012-08-23T00:00:00.000000000
2012-08-24T00:00:00.000000000
2012-08-27T00:00:00.000000000
2012-08-28T00:00:00.000000000
2012-08-29T00:00:00.000000000
2012-08-30T00:00:00.000000000
2012-08-31T00:00:00.000000000
2012-09-03T00:00:00.000000000
2012-09-04T00:00:00.000000000
2012-09-05T00:00:00.000000000
2012-09-06T00:00:00.000000000
2012-09-07T00:00:00.000000000
2012-09-08T00:00:00.000000000
2012-09-10T00:00:00.000000000
2012-09-11T00:00:00.000000000
2012-09-12T00:00:00.000000000
2012-09-13T00:00:00.000000000
2012-09-14T00:00:00.000000000
2012-09-17T00:00:00.000000000
2012-09-18T00:00:00.000000000
2012-09-20T00:00:00.000000000
2012-09-21T00:00:00.000000000
2012-09-24T00:00:00.000000000
2012-09-25T00:00:00.000000000
2012-09-26T00:00:00.000000000
2012-09-27T00:00:00.000000000
2012-09-28T00:00:00.000000000
2012-10-01T00:00:00.000000000
2012-10-03T00:00:00.000000000
2012-10-04T00:00:00.000000000
2012-10-05T00:00:00.000000000
2012-10-08T00:00:00.000000000
2012-10-09T00:00:00.000000000
2012-10-10T00:00:00.000000000
2012-10-11T00:00:00.000000000
2012-10-12T00:00:00.000000000
2012-10-15T00:00:00.000000000
2012-10-16T00:00:00.000000000
2012-10-17T00:00:00.000000000
2012-10-18T00:00:00.000000000
2012-10-19T00:00:00.000000000
2012-10-22T00:00:00.000000000
2012-10-23T00:00:00.000000000
2012-10-25T00:00:00.000000000
2012-10-26T00:00:00.000000000
2012-10-29T00:00:00.000000000
2012-10-30T00:00:00.000000000
2012-10-31T00:00:00.000000000
2012-11-01T00:00:00.000000000
2012-11-02T00:00:00.000000000
2012-11-05T00:00:00.000000000
2012-11-06T00:00:00.000000000
2012-11-07T00:00:00.000000000
2012-11-08T00:00:00.000000000
2012-11-09T00:00:00.000000000
2012-11-12T00:00:00.000000000
2012-11-13T00:00:00.000000000
2012-11-15T00:00:00.000000000
2012-11-16T00:00:00.000000000
2012-11-19T00:00:00.000000000
2012-11-20T00:00:00.000000000
2012-11-21T00:00:00.000000000
2012-11-22T00:00:00.000000000
2012-11-23T00:00:00.000000000
2012-11-26T00:00:00.000000000
2012-11-27T00:00:00.000000000
2012-11-29T00:00:00.000000000
2012-11-30T00:00:00.000000000
2012-12-03T00:00:00.000000000
2012-12-04T00:00:00.000000000
2012-12-05T00:00:00.000000000
2012-12-06T00:00:00.000000000
2012-12-07T00:00:00.000000000
2012-12-10T00:00:00.000000000
2012-12-12T00:00:00.000000000
2012-12-13T00:00:00.000000000
2012-12-14T00:00:00.000000000
2012-12-17T00:00:00.000000000
2012-12-18T00:00:00.000000000
2012-12-19T00:00:00.000000000
2012-12-20T00:00:00.000000000
2012-12-21T00:00:00.000000000
2012-12-24T00:00:00.000000000
2012-12-26T00:00:00.000000000
2012-12-27T00:00:00.000000000
2012-12-28T00:00:00.000000000
2012-12-31T00:00:00.000000000
2013-01-01T00:00:00.000000000
2013-01-02T00:00:00.000000000
2013-01-03T00:00:00.000000000
2013-01-04T00:00:00.000000000
2013-01-07T00:00:00.000000000
2013-01-08T00:00:00.000000000
2013-01-09T00:00:00.000000000
2013-01-10T00:00:00.000000000
2013-01-11T00:00:00.000000000
2013-01-14T00:00:00.000000000
2013-01-15T00:00:00.000000000
2013-01-16T00:00:00.000000000
2013-01-17T00:00:00.000000000
2013-01-18T00:00:00.000000000
2013-01-21T00:00:00.000000000
2013-01-22T00:00:00.000000000
2013-01-23T00:00:00.000000000
2013-01-24T00:00:00.000000000
2013-01-25T00:00:00.000000000
2013-01-28T00:00:00.000000000
2013-01-29T00:00:00.000000000
2013-01-30T00:00:00.000000000
2013-01-31T00:00:00.000000000
2013-02-01T00:00:00.000000000
2013-02-04T00:00:00.000000000
2013-02-05T00:00:00.000000000
2013-02-06T00:00:00.000000000
2013-02-07T00:00:00.000000000
2013-02-08T00:00:00.000000000
2013-02-11T00:00:00.000000000
2013-02-12T00:00:00.000000000
2013-02-13T00:00:00.000000000
2013-02-14T00:00:00.000000000
2013-02-15T00:00:00.000000000
2013-02-18T00:00:00.000000000
2013-02-19T00:00:00.000000000
2013-02-20T00:00:00.000000000
2013-02-21T00:00:00.000000000
2013-02-22T00:00:00.000000000
2013-02-25T00:00:00.000000000
2013-02-26T00:00:00.000000000
2013-02-27T00:00:00.000000000
2013-02-28T00:00:00.000000000
2013-03-01T00:00:00.000000000
2013-03-04T00:00:00.000000000
2013-03-05T00:00:00.000000000
2013-03-06T00:00:00.000000000
2013-03-07T00:00:00.000000000
2013-03-08T00:00:00.000000000
2013-03-11T00:00:00.000000000
2013-03-12T00:00:00.000000000
2013-03-13T00:00:00.000000000
2013-03-14T00:00:00.000000000
2013-03-15T00:00:00.000000000
2013-03-18T00:00:00.000000000
2013-03-19T00:00:00.000000000
2013-03-20T00:00:00.000000000
2013-03-21T00:00:00.000000000
2013-03-22T00:00:00.000000000
2013-03-25T00:00:00.000000000
2013-03-26T00:00:00.000000000
2013-03-28T00:00:00.000000000
2013-04-01T00:00:00.000000000
2013-04-02T00:00:00.000000000
2013-04-03T00:00:00.000000000
2013-04-04T00:00:00.000000000
2013-04-05T00:00:00.000000000
2013-04-08T00:00:00.000000000
2013-04-09T00:00:00.000000000
2013-04-10T00:00:00.000000000
2013-04-11T00:00:00.000000000
2013-04-12T00:00:00.000000000
2013-04-15T00:00:00.000000000
2013-04-16T00:00:00.000000000
2013-04-17T00:00:00.000000000
2013-04-18T00:00:00.000000000
2013-04-22T00:00:00.000000000
2013-04-23T00:00:00.000000000
2013-04-25T00:00:00.000000000
2013-04-26T00:00:00.000000000
2013-04-29T00:00:00.000000000
2013-04-30T00:00:00.000000000
2013-05-02T00:00:00.000000000
2013-05-03T00:00:00.000000000
2013-05-06T00:00:00.000000000
2013-05-07T00:00:00.000000000
2013-05-08T00:00:00.000000000
2013-05-09T00:00:00.000000000
2013-05-10T00:00:00.000000000
2013-05-11T00:00:00.000000000
2013-05-13T00:00:00.000000000
2013-05-14T00:00:00.000000000
2013-05-15T00:00:00.000000000
2013-05-16T00:00:00.000000000
2013-05-17T00:00:00.000000000
2013-05-20T00:00:00.000000000
2013-05-21T00:00:00.000000000
2013-05-22T00:00:00.000000000
2013-05-23T00:00:00.000000000
2013-05-24T00:00:00.000000000
2013-05-27T00:00:00.000000000
2013-05-28T00:00:00.000000000
2013-05-29T00:00:00.000000000
2013-05-30T00:00:00.000000000
2013-05-31T00:00:00.000000000
2013-06-03T00:00:00.000000000
2013-06-04T00:00:00.000000000
2013-06-05T00:00:00.000000000
2013-06-06T00:00:00.000000000
2013-06-07T00:00:00.000000000
2013-06-10T00:00:00.000000000
2013-06-11T00:00:00.000000000
2013-06-12T00:00:00.000000000
2013-06-13T00:00:00.000000000
2013-06-14T00:00:00.000000000
2013-06-17T00:00:00.000000000
2013-06-18T00:00:00.000000000
2013-06-19T00:00:00.000000000
2013-06-20T00:00:00.000000000
2013-06-21T00:00:00.000000000
2013-06-24T00:00:00.000000000
2013-06-25T00:00:00.000000000
2013-06-26T00:00:00.000000000
2013-06-27T00:00:00.000000000
2013-06-28T00:00:00.000000000
2013-07-01T00:00:00.000000000
2013-07-02T00:00:00.000000000
2013-07-03T00:00:00.000000000
2013-07-04T00:00:00.000000000
2013-07-05T00:00:00.000000000
2013-07-08T00:00:00.000000000
2013-07-09T00:00:00.000000000
2013-07-10T00:00:00.000000000
2013-07-11T00:00:00.000000000
2013-07-12T00:00:00.000000000
2013-07-15T00:00:00.000000000
2013-07-16T00:00:00.000000000
2013-07-17T00:00:00.000000000
2013-07-18T00:00:00.000000000
2013-07-19T00:00:00.000000000
2013-07-22T00:00:00.000000000
2013-07-23T00:00:00.000000000
2013-07-24T00:00:00.000000000
2013-07-25T00:00:00.000000000
2013-07-26T00:00:00.000000000
2013-07-29T00:00:00.000000000
2013-07-30T00:00:00.000000000
2013-07-31T00:00:00.000000000
2013-08-01T00:00:00.000000000
2013-08-02T00:00:00.000000000
2013-08-05T00:00:00.000000000
2013-08-06T00:00:00.000000000
2013-08-07T00:00:00.000000000
2013-08-08T00:00:00.000000000
2013-08-12T00:00:00.000000000
2013-08-13T00:00:00.000000000
2013-08-14T00:00:00.000000000
2013-08-16T00:00:00.000000000
2013-08-19T00:00:00.000000000
2013-08-20T00:00:00.000000000
2013-08-21T00:00:00.000000000
2013-08-22T00:00:00.000000000
2013-08-23T00:00:00.000000000
2013-08-26T00:00:00.000000000
2013-08-27T00:00:00.000000000
2013-08-28T00:00:00.000000000
2013-08-29T00:00:00.000000000
2013-08-30T00:00:00.000000000
2013-09-02T00:00:00.000000000

3044

In [ ]:
date_counts = rdf['Date'].value_counts()

# Iterate over the unique dates
for date in date_counts.index:
    count = date_counts[date]
    print(date, count)
    # Add your code to pe

2012-05-14 00:00:00 377
2012-02-28 00:00:00 377
2012-11-09 00:00:00 377
2012-11-12 00:00:00 377
2012-04-03 00:00:00 377
2012-04-02 00:00:00 377
2012-03-30 00:00:00 377
2012-03-29 00:00:00 377
2012-03-28 00:00:00 377
2012-03-27 00:00:00 377
2012-03-26 00:00:00 377
2012-03-23 00:00:00 377
2012-03-21 00:00:00 377
2012-03-20 00:00:00 377
2012-03-19 00:00:00 377
2012-03-16 00:00:00 377
2012-03-15 00:00:00 377
2012-11-15 00:00:00 377
2012-03-13 00:00:00 377
2012-03-12 00:00:00 377
2012-03-09 00:00:00 377
2012-03-07 00:00:00 377
2012-03-06 00:00:00 377
2012-03-05 00:00:00 377
2012-11-16 00:00:00 377
2012-03-02 00:00:00 377
2012-03-01 00:00:00 377
2012-04-10 00:00:00 377
2012-04-11 00:00:00 377
2012-04-12 00:00:00 377
2012-05-02 00:00:00 377
2012-05-17 00:00:00 377
2012-05-16 00:00:00 377
2012-05-15 00:00:00 377
2012-11-07 00:00:00 377
2012-05-11 00:00:00 377
2012-05-10 00:00:00 377
2012-05-09 00:00:00 377
2012-05-08 00:00:00 377
2012-05-07 00:00:00 377
2012-05-04 00:00:00 377
2012-05-03 00:00:00 377
2012-04-30 00:00:00 377
2012-04-13 00:00:00 377
2012-11-08 00:00:00 377
2012-04-27 00:00:00 377
2012-04-26 00:00:00 377
2012-04-25 00:00:00 377
2012-04-24 00:00:00 377
2012-04-23 00:00:00 377
2012-04-20 00:00:00 377
2012-04-19 00:00:00 377
2012-04-18 00:00:00 377
2012-04-17 00:00:00 377
2012-04-16 00:00:00 377
2012-02-29 00:00:00 377
2012-02-27 00:00:00 377
2011-12-02 00:00:00 377
2012-02-24 00:00:00 377
2012-01-12 00:00:00 377
2012-01-11 00:00:00 377
2012-01-10 00:00:00 377
2012-01-09 00:00:00 377
2012-01-06 00:00:00 377
2012-01-05 00:00:00 377
2012-01-04 00:00:00 377
2012-01-03 00:00:00 377
2012-01-02 00:00:00 377
2011-12-30 00:00:00 377
2011-12-29 00:00:00 377
2011-12-26 00:00:00 377
2011-12-23 00:00:00 377
2011-12-22 00:00:00 377
2011-12-21 00:00:00 377
2011-12-20 00:00:00 377
2011-12-19 00:00:00 377
2011-12-16 00:00:00 377
2011-12-15 00:00:00 377
2011-12-14 00:00:00 377
2011-12-13 00:00:00 377
2011-12-12 00:00:00 377
2011-12-09 00:00:00 377
2011-12-08 00:00:00 377
2011-12-07 00:00:00 377
2012-01-13 00:00:00 377
2012-01-16 00:00:00 377
2012-01-17 00:00:00 377
2012-02-07 00:00:00 377
2012-02-23 00:00:00 377
2012-02-22 00:00:00 377
2012-02-21 00:00:00 377
2012-02-17 00:00:00 377
2012-02-16 00:00:00 377
2012-02-15 00:00:00 377
2012-02-14 00:00:00 377
2012-02-13 00:00:00 377
2012-11-19 00:00:00 377
2012-02-09 00:00:00 377
2012-02-08 00:00:00 377
2012-02-06 00:00:00 377
2012-11-21 00:00:00 377
2012-02-03 00:00:00 377
2012-02-02 00:00:00 377
2012-11-20 00:00:00 377
2012-01-31 00:00:00 377
2012-01-30 00:00:00 377
2012-01-27 00:00:00 377
2012-01-25 00:00:00 377
2012-01-24 00:00:00 377
2012-01-23 00:00:00 377
2012-01-20 00:00:00 377
2012-01-19 00:00:00 377
2012-05-18 00:00:00 377
2012-05-21 00:00:00 377
2012-05-22 00:00:00 377
2012-05-23 00:00:00 377
2012-09-14 00:00:00 377
2012-09-13 00:00:00 377
2012-09-12 00:00:00 377
2012-09-11 00:00:00 377
2012-09-10 00:00:00 377
2012-11-01 00:00:00 377
2012-09-07 00:00:00 377
2012-09-06 00:00:00 377
2012-09-05 00:00:00 377
2012-09-04 00:00:00 377
2012-09-03 00:00:00 377
2012-08-31 00:00:00 377
2012-08-30 00:00:00 377
2012-08-29 00:00:00 377
2012-08-28 00:00:00 377
2012-08-27 00:00:00 377
2012-08-24 00:00:00 377
2012-08-23 00:00:00 377
2012-08-22 00:00:00 377
2012-08-21 00:00:00 377
2012-11-02 00:00:00 377
2012-08-16 00:00:00 377
2012-08-14 00:00:00 377
2012-08-13 00:00:00 377
2012-08-10 00:00:00 377
2012-09-17 00:00:00 377
2012-09-18 00:00:00 377
2012-09-20 00:00:00 377
2012-10-11 00:00:00 377
2012-10-29 00:00:00 377
2012-10-26 00:00:00 377
2012-10-25 00:00:00 377
2012-10-23 00:00:00 377
2012-10-22 00:00:00 377
2012-10-19 00:00:00 377
2012-10-18 00:00:00 377
2012-10-17 00:00:00 377
2012-10-16 00:00:00 377
2012-10-15 00:00:00 377
2012-10-12 00:00:00 377
2012-10-10 00:00:00 377
2012-09-21 00:00:00 377
2012-10-09 00:00:00 377
2012-10-08 00:00:00 377
2012-10-05 00:00:00 377
2012-10-04 00:00:00 377
2012-10-03 00:00:00 377
2012-10-01 00:00:00 377
2012-09-28 00:00:00 377
2012-09-27 00:00:00 377
2012-09-26 00:00:00 377
2012-09-25 00:00:00 377
2012-09-24 00:00:00 377
2012-08-09 00:00:00 377
2012-08-08 00:00:00 377
2012-08-07 00:00:00 377
2012-06-11 00:00:00 377
2012-06-26 00:00:00 377
2012-06-25 00:00:00 377
2012-06-22 00:00:00 377
2012-06-21 00:00:00 377
2012-06-20 00:00:00 377
2012-06-19 00:00:00 377
2012-06-18 00:00:00 377
2012-06-15 00:00:00 377
2012-06-14 00:00:00 377
2012-11-05 00:00:00 377
2012-06-12 00:00:00 377
2012-06-08 00:00:00 377
2012-06-28 00:00:00 377
2012-06-07 00:00:00 377
2012-06-06 00:00:00 377
2012-06-05 00:00:00 377
2012-06-04 00:00:00 377
2012-06-01 00:00:00 377
2012-05-31 00:00:00 377
2012-05-30 00:00:00 377
2012-05-29 00:00:00 377
2012-11-06 00:00:00 377
2012-05-25 00:00:00 377
2012-05-24 00:00:00 377
2012-06-27 00:00:00 377
2012-06-29 00:00:00 377
2012-08-06 00:00:00 377
2012-07-19 00:00:00 377
2012-08-03 00:00:00 377
2012-08-02 00:00:00 377
2012-08-01 00:00:00 377
2012-07-31 00:00:00 377
2012-07-30 00:00:00 377
2012-07-27 00:00:00 377
2012-07-26 00:00:00 377
2012-07-25 00:00:00 377
2012-07-24 00:00:00 377
2012-07-23 00:00:00 377
2012-07-20 00:00:00 377
2012-07-18 00:00:00 377
2012-07-02 00:00:00 377
2012-07-17 00:00:00 377
2012-07-16 00:00:00 377
2012-07-13 00:00:00 377
2012-07-12 00:00:00 377
2012-07-11 00:00:00 377
2012-07-10 00:00:00 377
2012-07-09 00:00:00 377
2012-07-06 00:00:00 377
2012-07-05 00:00:00 377
2012-07-04 00:00:00 377
2012-07-03 00:00:00 377
2012-10-31 00:00:00 377
2011-12-05 00:00:00 377
2011-12-01 00:00:00 377
2013-04-01 00:00:00 377
2013-03-15 00:00:00 377
2013-03-18 00:00:00 377
2013-03-21 00:00:00 377
2013-03-22 00:00:00 377
2013-03-25 00:00:00 377
2013-03-26 00:00:00 377
2013-03-28 00:00:00 377
2013-04-02 00:00:00 377
2013-03-13 00:00:00 377
2013-04-03 00:00:00 377
2013-04-04 00:00:00 377
2011-11-30 00:00:00 377
2013-04-08 00:00:00 377
2013-04-09 00:00:00 377
2013-04-10 00:00:00 377
2013-04-11 00:00:00 377
2013-03-14 00:00:00 377
2013-03-12 00:00:00 377
2013-02-11 00:00:00 377
2013-02-26 00:00:00 377
2013-02-13 00:00:00 377
2013-02-18 00:00:00 377
2013-02-19 00:00:00 377
2013-02-20 00:00:00 377
2013-02-21 00:00:00 377
2013-02-22 00:00:00 377
2013-02-25 00:00:00 377
2013-02-27 00:00:00 377
2013-03-11 00:00:00 377
2013-02-28 00:00:00 377
2013-03-01 00:00:00 377
2013-03-04 00:00:00 377
2013-03-05 00:00:00 377
2013-03-06 00:00:00 377
2013-03-07 00:00:00 377
2013-03-08 00:00:00 377
2013-04-15 00:00:00 377
2013-04-16 00:00:00 377
2013-04-17 00:00:00 377
2013-06-04 00:00:00 377
2013-05-24 00:00:00 377
2013-05-27 00:00:00 377
2013-05-28 00:00:00 377
2013-05-29 00:00:00 377
2013-05-30 00:00:00 377
2013-05-31 00:00:00 377
2013-06-03 00:00:00 377
2013-06-05 00:00:00 377
2013-04-18 00:00:00 377
2013-06-06 00:00:00 377
2013-06-07 00:00:00 377
2013-06-10 00:00:00 377
2013-06-11 00:00:00 377
2013-06-12 00:00:00 377
2013-06-13 00:00:00 377
2013-06-14 00:00:00 377
2013-05-22 00:00:00 377
2013-05-21 00:00:00 377
2013-05-20 00:00:00 377
2013-05-17 00:00:00 377
2013-04-22 00:00:00 377
2013-04-23 00:00:00 377
2013-04-25 00:00:00 377
2013-04-26 00:00:00 377
2013-04-29 00:00:00 377
2013-04-30 00:00:00 377
2013-05-03 00:00:00 377
2013-05-06 00:00:00 377
2013-05-07 00:00:00 377
2013-05-08 00:00:00 377
2013-05-09 00:00:00 377
2013-05-10 00:00:00 377
2013-05-13 00:00:00 377
2013-05-14 00:00:00 377
2013-05-15 00:00:00 377
2013-02-12 00:00:00 377
2013-04-05 00:00:00 377
2011-11-16 00:00:00 377
2011-11-02 00:00:00 377
2011-10-31 00:00:00 377
2011-10-28 00:00:00 377
2012-12-03 00:00:00 377
2012-12-04 00:00:00 377
2012-12-05 00:00:00 377
2012-12-06 00:00:00 377
2012-12-07 00:00:00 377
2012-12-10 00:00:00 377
2012-12-12 00:00:00 377
2012-12-13 00:00:00 377
2012-12-14 00:00:00 377
2012-12-17 00:00:00 377
2012-12-18 00:00:00 377
2012-12-19 00:00:00 377
2011-10-05 00:00:00 377
2011-11-01 00:00:00 377
2011-11-03 00:00:00 377
2012-12-26 00:00:00 377
2011-11-04 00:00:00 377
2011-11-29 00:00:00 377
2011-11-28 00:00:00 377
2011-11-25 00:00:00 377
2011-11-24 00:00:00 377
2011-11-23 00:00:00 377
2012-11-27 00:00:00 377
2011-11-21 00:00:00 377
2011-11-18 00:00:00 377
2011-11-17 00:00:00 377
2013-02-08 00:00:00 377
2011-11-15 00:00:00 377
2011-11-14 00:00:00 377
2011-11-11 00:00:00 377
2011-11-09 00:00:00 377
2011-11-08 00:00:00 377
2012-12-21 00:00:00 377
2012-10-30 00:00:00 377
2012-12-27 00:00:00 377
2013-02-04 00:00:00 377
2013-01-21 00:00:00 377
2013-01-18 00:00:00 377
2013-01-17 00:00:00 377
2013-01-23 00:00:00 377
2013-01-14 00:00:00 377
2013-01-25 00:00:00 377
2013-01-28 00:00:00 377
2013-01-29 00:00:00 377
2013-01-30 00:00:00 377
2013-01-31 00:00:00 377
2013-01-10 00:00:00 377
2013-02-01 00:00:00 377
2013-02-05 00:00:00 377
2013-01-09 00:00:00 377
2013-01-08 00:00:00 377
2013-01-07 00:00:00 377
2013-01-04 00:00:00 377
2013-01-03 00:00:00 377
2013-01-02 00:00:00 377
2013-01-01 00:00:00 377
2012-12-31 00:00:00 377
2013-02-06 00:00:00 377
2013-02-07 00:00:00 377
2013-01-22 00:00:00 377
2013-10-31 00:00:00 376
2013-10-29 00:00:00 376
2013-10-30 00:00:00 376
2013-10-28 00:00:00 376
2014-01-21 00:00:00 376
2013-11-01 00:00:00 376
2013-11-05 00:00:00 376
2013-11-06 00:00:00 376
2013-10-24 00:00:00 376
2013-11-07 00:00:00 376
2013-11-08 00:00:00 376
2013-11-11 00:00:00 376
2013-11-12 00:00:00 376
2013-11-13 00:00:00 376
2013-11-14 00:00:00 376
2013-11-18 00:00:00 376
2013-11-19 00:00:00 376
2013-11-20 00:00:00 376
2013-11-21 00:00:00 376
2013-11-22 00:00:00 376
2013-10-25 00:00:00 376
2013-10-21 00:00:00 376
2013-10-23 00:00:00 376
2013-10-07 00:00:00 376
2013-09-24 00:00:00 376
2013-09-25 00:00:00 376
2013-09-26 00:00:00 376
2013-09-27 00:00:00 376
2013-09-30 00:00:00 376
2013-10-01 00:00:00 376
2013-10-03 00:00:00 376
2013-10-04 00:00:00 376
2013-10-08 00:00:00 376
2013-10-22 00:00:00 376
2013-10-09 00:00:00 376
2013-10-10 00:00:00 376
2013-10-11 00:00:00 376
2013-10-14 00:00:00 376
2013-10-15 00:00:00 376
2013-10-17 00:00:00 376
2013-10-18 00:00:00 376
2013-11-26 00:00:00 376
2013-11-25 00:00:00 376
2013-12-17 00:00:00 376
2013-11-27 00:00:00 376
2014-01-29 00:00:00 376
2014-01-14 00:00:00 376
2014-01-27 00:00:00 376
2014-01-28 00:00:00 376
2014-01-01 00:00:00 376
2014-01-02 00:00:00 376
2014-01-15 00:00:00 376
2014-01-16 00:00:00 376
2014-01-03 00:00:00 376
2014-01-24 00:00:00 376
2014-01-13 00:00:00 376
2014-01-23 00:00:00 376
2014-01-17 00:00:00 376
2014-01-09 00:00:00 376
2014-01-06 00:00:00 376
2014-01-08 00:00:00 376
2014-01-20 00:00:00 376
2014-01-07 00:00:00 376
2014-01-22 00:00:00 376
2014-01-10 00:00:00 376
2013-12-31 00:00:00 376
2013-11-28 00:00:00 376
2013-12-11 00:00:00 376
2013-11-29 00:00:00 376
2013-12-02 00:00:00 376
2013-12-03 00:00:00 376
2013-12-04 00:00:00 376
2013-12-05 00:00:00 376
2013-12-06 00:00:00 376
2013-12-09 00:00:00 376
2013-12-10 00:00:00 376
2013-12-13 00:00:00 376
2013-12-30 00:00:00 376
2013-12-16 00:00:00 376
2013-12-18 00:00:00 376
2013-12-19 00:00:00 376
2013-12-20 00:00:00 376
2013-12-23 00:00:00 376
2013-12-24 00:00:00 376
2013-12-26 00:00:00 376
2013-12-27 00:00:00 376
2014-01-30 00:00:00 376
2011-01-03 00:00:00 376
2014-01-31 00:00:00 376
2014-10-09 00:00:00 376
2014-09-17 00:00:00 376
2014-09-18 00:00:00 376
2014-09-19 00:00:00 376
2014-09-22 00:00:00 376
2014-09-23 00:00:00 376
2014-09-25 00:00:00 376
2014-09-26 00:00:00 376
2014-09-29 00:00:00 376
2014-09-30 00:00:00 376
2014-10-01 00:00:00 376
2014-10-07 00:00:00 376
2014-10-10 00:00:00 376
2014-09-15 00:00:00 376
2014-10-13 00:00:00 376
2014-10-14 00:00:00 376
2014-10-17 00:00:00 376
2014-10-21 00:00:00 376
2014-10-22 00:00:00 376
2014-10-27 00:00:00 376
2014-10-28 00:00:00 376
2014-10-29 00:00:00 376
2014-10-30 00:00:00 376
2014-10-31 00:00:00 376
2014-11-03 00:00:00 376
2014-09-16 00:00:00 376
2014-09-12 00:00:00 376
2014-02-03 00:00:00 376
2014-08-21 00:00:00 376
2014-08-04 00:00:00 376
2014-08-05 00:00:00 376
2014-08-06 00:00:00 376
2014-08-07 00:00:00 376
2014-08-08 00:00:00 376
2014-08-11 00:00:00 376
2014-08-12 00:00:00 376
2014-08-13 00:00:00 376
2014-08-18 00:00:00 376
2014-08-19 00:00:00 376
2014-08-20 00:00:00 376
2014-08-22 00:00:00 376
2014-09-11 00:00:00 376
2014-08-25 00:00:00 376
2014-08-27 00:00:00 376
2014-08-28 00:00:00 376
2014-09-01 00:00:00 376
2014-09-02 00:00:00 376
2014-09-03 00:00:00 376
2014-09-04 00:00:00 376
2014-09-05 00:00:00 376
2014-09-08 00:00:00 376
2014-09-09 00:00:00 376
2014-09-10 00:00:00 376
2014-11-07 00:00:00 376
2014-11-10 00:00:00 376
2014-11-11 00:00:00 376
2015-01-14 00:00:00 376
2014-12-26 00:00:00 376
2014-12-29 00:00:00 376
2014-12-30 00:00:00 376
2014-12-31 00:00:00 376
2015-01-01 00:00:00 376
2015-01-02 00:00:00 376
2015-01-05 00:00:00 376
2015-01-06 00:00:00 376
2015-01-07 00:00:00 376
2015-01-09 00:00:00 376
2015-01-12 00:00:00 376
2015-01-15 00:00:00 376
2014-11-12 00:00:00 376
2015-01-16 00:00:00 376
2015-01-19 00:00:00 376
2015-01-20 00:00:00 376
2015-01-21 00:00:00 376
2015-01-22 00:00:00 376
2015-01-23 00:00:00 376
2015-01-27 00:00:00 376
2015-01-28 00:00:00 376
2015-01-29 00:00:00 376
2015-01-30 00:00:00 376
2011-01-04 00:00:00 376
2014-12-24 00:00:00 376
2014-12-23 00:00:00 376
2014-12-22 00:00:00 376
2014-12-19 00:00:00 376
2014-11-13 00:00:00 376
2014-11-17 00:00:00 376
2014-11-18 00:00:00 376
2014-11-19 00:00:00 376
2014-11-20 00:00:00 376
2014-11-21 00:00:00 376
2014-11-24 00:00:00 376
2014-11-25 00:00:00 376
2014-11-26 00:00:00 376
2014-11-27 00:00:00 376
2014-11-28 00:00:00 376
2014-12-02 00:00:00 376
2014-12-03 00:00:00 376
2014-12-04 00:00:00 376
2014-12-05 00:00:00 376
2014-12-08 00:00:00 376
2014-12-09 00:00:00 376
2014-12-10 00:00:00 376
2014-12-11 00:00:00 376
2014-12-12 00:00:00 376
2014-12-15 00:00:00 376
2014-12-17 00:00:00 376
2014-12-18 00:00:00 376
2014-08-01 00:00:00 376
2014-07-31 00:00:00 376
2014-07-30 00:00:00 376
2014-04-03 00:00:00 376
2014-03-18 00:00:00 376
2014-03-19 00:00:00 376
2014-03-20 00:00:00 376
2014-03-21 00:00:00 376
2014-03-24 00:00:00 376
2014-03-25 00:00:00 376
2014-03-27 00:00:00 376
2014-03-28 00:00:00 376
2014-03-31 00:00:00 376
2014-04-01 00:00:00 376
2014-04-02 00:00:00 376
2014-04-04 00:00:00 376
2014-04-30 00:00:00 376
2014-04-07 00:00:00 376
2014-04-09 00:00:00 376
2014-04-10 00:00:00 376
2014-04-11 00:00:00 376
2014-04-15 00:00:00 376
2014-04-16 00:00:00 376
2014-04-17 00:00:00 376
2014-04-21 00:00:00 376
2014-04-22 00:00:00 376
2014-04-23 00:00:00 376
2014-04-25 00:00:00 376
2014-03-14 00:00:00 376
2014-03-13 00:00:00 376
2014-03-12 00:00:00 376
2014-03-10 00:00:00 376
2014-02-04 00:00:00 376
2014-02-05 00:00:00 376
2013-09-20 00:00:00 376
2014-02-06 00:00:00 376
2014-02-07 00:00:00 376
2014-02-10 00:00:00 376
2014-02-11 00:00:00 376
2014-02-12 00:00:00 376
2014-02-13 00:00:00 376
2014-02-14 00:00:00 376
2014-02-17 00:00:00 376
2014-02-18 00:00:00 376
2014-02-19 00:00:00 376
2014-02-20 00:00:00 376
2014-02-21 00:00:00 376
2014-02-24 00:00:00 376
2014-02-25 00:00:00 376
2014-02-26 00:00:00 376
2014-02-28 00:00:00 376
2014-03-04 00:00:00 376
2014-03-05 00:00:00 376
2014-03-06 00:00:00 376
2014-03-07 00:00:00 376
2014-04-28 00:00:00 376
2014-05-05 00:00:00 376
2014-07-25 00:00:00 376
2014-07-04 00:00:00 376
2014-06-17 00:00:00 376
2014-06-19 00:00:00 376
2014-06-20 00:00:00 376
2014-06-23 00:00:00 376
2014-06-25 00:00:00 376
2014-06-26 00:00:00 376
2014-06-27 00:00:00 376
2014-06-30 00:00:00 376
2014-07-01 00:00:00 376
2014-07-02 00:00:00 376
2014-07-03 00:00:00 376
2014-07-07 00:00:00 376
2014-05-06 00:00:00 376
2014-07-10 00:00:00 376
2014-07-11 00:00:00 376
2014-07-14 00:00:00 376
2014-07-15 00:00:00 376
2014-07-16 00:00:00 376
2014-07-17 00:00:00 376
2014-07-18 00:00:00 376
2014-07-21 00:00:00 376
2014-07-22 00:00:00 376
2014-07-23 00:00:00 376
2014-07-24 00:00:00 376
2014-06-13 00:00:00 376
2014-06-12 00:00:00 376
2014-06-11 00:00:00 376
2014-06-10 00:00:00 376
2014-05-07 00:00:00 376
2014-05-08 00:00:00 376
2014-05-09 00:00:00 376
2014-05-12 00:00:00 376
2014-05-13 00:00:00 376
2014-05-14 00:00:00 376
2014-05-15 00:00:00 376
2014-05-16 00:00:00 376
2014-05-19 00:00:00 376
2014-05-20 00:00:00 376
2014-05-21 00:00:00 376
2014-05-22 00:00:00 376
2014-05-23 00:00:00 376
2014-05-26 00:00:00 376
2014-05-27 00:00:00 376
2014-05-29 00:00:00 376
2014-05-30 00:00:00 376
2014-06-02 00:00:00 376
2014-06-03 00:00:00 376
2014-06-04 00:00:00 376
2014-06-05 00:00:00 376
2014-06-06 00:00:00 376
2014-06-09 00:00:00 376
2013-09-23 00:00:00 376
2015-01-13 00:00:00 376
2013-09-19 00:00:00 376
2011-06-13 00:00:00 376
2011-06-02 00:00:00 376
2011-06-03 00:00:00 376
2011-06-06 00:00:00 376
2011-06-07 00:00:00 376
2011-06-08 00:00:00 376
2011-06-09 00:00:00 376
2011-06-10 00:00:00 376
2011-06-14 00:00:00 376
2011-05-31 00:00:00 376
2011-06-15 00:00:00 376
2011-06-16 00:00:00 376
2011-06-17 00:00:00 376
2011-06-20 00:00:00 376
2011-06-21 00:00:00 376
2011-06-22 00:00:00 376
2011-06-23 00:00:00 376
2011-06-01 00:00:00 376
2011-05-30 00:00:00 376
2011-08-22 00:00:00 376
2011-05-13 00:00:00 376
2011-05-03 00:00:00 376
2011-05-04 00:00:00 376
2011-05-05 00:00:00 376
2011-05-09 00:00:00 376
2011-05-10 00:00:00 376
2011-05-11 00:00:00 376
2011-05-12 00:00:00 376
2011-05-16 00:00:00 376
2011-05-27 00:00:00 376
2011-05-17 00:00:00 376
2011-05-18 00:00:00 376
2011-05-19 00:00:00 376
2011-05-20 00:00:00 376
2011-05-24 00:00:00 376
2011-05-25 00:00:00 376
2011-05-26 00:00:00 376
2011-06-24 00:00:00 376
2011-06-27 00:00:00 376
2011-06-28 00:00:00 376
2011-08-05 00:00:00 376
2011-07-27 00:00:00 376
2011-07-28 00:00:00 376
2011-07-29 00:00:00 376
2011-08-01 00:00:00 376
2011-08-02 00:00:00 376
2011-08-03 00:00:00 376
2011-08-04 00:00:00 376
2011-08-08 00:00:00 376
2011-06-29 00:00:00 376
2011-08-09 00:00:00 376
2011-08-10 00:00:00 376
2011-08-11 00:00:00 376
2011-08-12 00:00:00 376
2011-08-16 00:00:00 376
2011-08-17 00:00:00 376
2011-08-18 00:00:00 376
2011-07-26 00:00:00 376
2011-07-25 00:00:00 376
2011-07-22 00:00:00 376
2011-07-21 00:00:00 376
2011-06-30 00:00:00 376
2011-07-01 00:00:00 376
2011-07-04 00:00:00 376
2011-07-05 00:00:00 376
2011-07-06 00:00:00 376
2011-07-07 00:00:00 376
2011-07-08 00:00:00 376
2011-07-11 00:00:00 376
2011-07-12 00:00:00 376
2011-07-13 00:00:00 376
2011-07-14 00:00:00 376
2011-07-15 00:00:00 376
2011-07-18 00:00:00 376
2011-07-19 00:00:00 376
2011-07-20 00:00:00 376
2011-05-02 00:00:00 376
2011-04-29 00:00:00 376
2011-04-28 00:00:00 376
2011-02-11 00:00:00 376
2011-02-02 00:00:00 376
2011-02-03 00:00:00 376
2011-02-04 00:00:00 376
2011-02-07 00:00:00 376
2011-02-08 00:00:00 376
2011-02-09 00:00:00 376
2011-02-10 00:00:00 376
2011-02-14 00:00:00 376
2011-02-25 00:00:00 376
2011-02-15 00:00:00 376
2011-02-16 00:00:00 376
2011-02-17 00:00:00 376
2011-02-18 00:00:00 376
2011-02-21 00:00:00 376
2011-02-22 00:00:00 376
2011-02-23 00:00:00 376
2011-02-01 00:00:00 376
2011-01-31 00:00:00 376
2011-01-28 00:00:00 376
2011-01-27 00:00:00 376
2013-09-18 00:00:00 376
2011-01-06 00:00:00 376
2011-01-07 00:00:00 376
2011-01-10 00:00:00 376
2011-01-11 00:00:00 376
2011-01-12 00:00:00 376
2011-01-13 00:00:00 376
2011-01-14 00:00:00 376
2011-01-17 00:00:00 376
2011-01-18 00:00:00 376
2011-01-19 00:00:00 376
2011-01-20 00:00:00 376
2011-01-21 00:00:00 376
2011-01-24 00:00:00 376
2011-01-25 00:00:00 376
2011-02-24 00:00:00 376
2011-02-28 00:00:00 376
2011-04-27 00:00:00 376
2011-04-11 00:00:00 376
2011-03-31 00:00:00 376
2011-04-01 00:00:00 376
2011-04-04 00:00:00 376
2011-04-05 00:00:00 376
2011-04-06 00:00:00 376
2011-04-07 00:00:00 376
2011-04-08 00:00:00 376
2011-04-13 00:00:00 376
2011-03-01 00:00:00 376
2011-04-15 00:00:00 376
2011-04-18 00:00:00 376
2011-04-19 00:00:00 376
2011-04-20 00:00:00 376
2011-04-21 00:00:00 376
2011-04-25 00:00:00 376
2011-04-26 00:00:00 376
2011-03-30 00:00:00 376
2011-03-29 00:00:00 376
2011-03-25 00:00:00 376
2011-01-05 00:00:00 376
2011-03-03 00:00:00 376
2011-03-04 00:00:00 376
2011-03-07 00:00:00 376
2011-03-08 00:00:00 376
2011-03-09 00:00:00 376
2011-03-10 00:00:00 376
2011-03-11 00:00:00 376
2011-03-14 00:00:00 376
2011-03-15 00:00:00 376
2011-03-17 00:00:00 376
2011-03-18 00:00:00 376
2011-03-21 00:00:00 376
2011-03-22 00:00:00 376
2011-03-23 00:00:00 376

In [ ]:
tdf = rdf.groupby('Date').agg({'Open': 'first', 'Close': 'last', 'High': 'max', 'Low': 'min'}).reset_index()
tdf.to_csv('daily.csv')
tdf

           Date      Open     Close      High       Low
0    2011-01-03  11882.10  11829.50  11912.15  11826.95
1    2011-01-04  11868.40  11559.60  11872.80  11545.55
2    2011-01-05  11545.75  11306.05  11545.75  11265.55
3    2011-01-06  11350.70  11168.75  11377.10  11164.75
4    2011-01-07  11146.45  11017.45  11258.50  11007.90
...         ...       ...       ...       ...       ...
3039 2023-04-12  41426.00  41577.20  41610.15  41334.85
3040 2023-04-13  41680.10  42137.80  42193.95  41504.10
3041 2023-04-17  42603.55  42216.70  42603.55  41801.15
3042 2023-04-18  42406.95  42255.65  42497.95  42119.80
3043 2023-04-19  42280.10  42151.10  42338.20  42022.50

[3044 rows x 5 columns]

In [ ]:
tdf['Change'] = ((tdf['Close'] - tdf['Open'])/tdf['Close'])*100
tdf

           Date      Open     Close      High       Low    Change
0    2011-01-03  11882.10  11829.50  11912.15  11826.95 -0.444651
1    2011-01-04  11868.40  11559.60  11872.80  11545.55 -2.671373
2    2011-01-05  11545.75  11306.05  11545.75  11265.55 -2.120104
3    2011-01-06  11350.70  11168.75  11377.10  11164.75 -1.629099
4    2011-01-07  11146.45  11017.45  11258.50  11007.90 -1.170870
...         ...       ...       ...       ...       ...       ...
3039 2023-04-12  41426.00  41577.20  41610.15  41334.85  0.363661
3040 2023-04-13  41680.10  42137.80  42193.95  41504.10  1.086198
3041 2023-04-17  42603.55  42216.70  42603.55  41801.15 -0.916344
3042 2023-04-18  42406.95  42255.65  42497.95  42119.80 -0.358059
3043 2023-04-19  42280.10  42151.10  42338.20  42022.50 -0.306042

[3044 rows x 6 columns]

In [ ]:
tdf['Signal'] = ''
tdf.loc[(tdf['Change'] > 0.5) , 'Signal'] = 'buy'
tdf.loc[(tdf['Change'] < -0.5) , 'Signal'] = 'Short'

In [ ]:
tdf

           Date      Open     Close      High       Low    Change Signal
0    2011-01-03  11882.10  11829.50  11912.15  11826.95 -0.444651
1    2011-01-04  11868.40  11559.60  11872.80  11545.55 -2.671373  Short
2    2011-01-05  11545.75  11306.05  11545.75  11265.55 -2.120104  Short
3    2011-01-06  11350.70  11168.75  11377.10  11164.75 -1.629099  Short
4    2011-01-07  11146.45  11017.45  11258.50  11007.90 -1.170870  Short
...         ...       ...       ...       ...       ...       ...    ...
3039 2023-04-12  41426.00  41577.20  41610.15  41334.85  0.363661
3040 2023-04-13  41680.10  42137.80  42193.95  41504.10  1.086198    buy
3041 2023-04-17  42603.55  42216.70  42603.55  41801.15 -0.916344  Short
3042 2023-04-18  42406.95  42255.65  42497.95  42119.80 -0.358059
3043 2023-04-19  42280.10  42151.10  42338.20  42022.50 -0.306042

[3044 rows x 7 columns]

In [ ]:
# Shift the 'high' and 'low' values by one row to get the values for the next row
tdf['next_high'] = tdf['High'].shift(-1)
tdf['next_low'] = tdf['Low'].shift(-1)
tdf['next_open'] = tdf['Open'].shift(-1)
tdf['next_close'] = tdf['Close'].shift(-1)
tdf['1.01 close'] = tdf['Close']*1.01
tdf['0.99 close'] = tdf['Close']*0.99
tdf

,Date,Open,Close,High,Low,Change,Signal,next_high,next_low,next_open,next_close,1.01 close,0.99 close
0,2011-01-03,11882.10,11829.50,11912.15,11826.95,-0.444651,,11872.80,11545.55,11868.40,11559.60,11947.7950,11711.2050
1,2011-01-04,11868.40,11559.60,11872.80,11545.55,-2.671373,Short,11545.75,11265.55,11545.75,11306.05,11675.1960,11444.0040
2,2011-01-05,11545.75,11306.05,11545.75,11265.55,-2.120104,Short,11377.10,11164.75,11350.70,11168.75,11419.1105,11192.9895
3,2011-01-06,11350.70,11168.75,11377.10,11164.75,-1.629099,Short,11258.50,11007.90,11146.45,11017.45,11280.4375,11057.0625
4,2011-01-07,11146.45,11017.45,11258.50,11007.90,-1.170870,Short,11072.70,10671.60,11024.50,10686.00,11127.6245,10907.2755
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3039,2023-04-12,41426.00,41577.20,41610.15,41334.85,0.363661,,42193.95,41504.10,41680.10,42137.80,41992.9720,41161.4280
3040,2023-04-13,41680.10,42137.80,42193.95,41504.10,1.086198,buy,42603.55,41801.15,42603.55,42216.70,42559.1780,41716.4220
3041,2023-04-17,42603.55,42216.70,42603.55,41801.15,-0.916344,Short,42497.95,42119.80,42406.95,42255.65,42638.8670,41794.5330
3042,2023-04-18,42406.95,42255.65,42497.95,42119.80,-0.358059,,42338.20,42022.50,42280.10,42151.10,42678.2065,41833.0935
3043,2023-04-19,42280.10,42151.10,42338.20,42022.50,-0.306042,,NaN,NaN,NaN,NaN,42572.6110,41729.5890

In [ ]:
trade_df1 = pd.DataFrame(columns=['Entry_date', 'Entry_price', 'Exit_date', 'Exit_price',  'Type', 'Profit'])

for index, row in tdf.iterrows():
  if tdf.loc[index, 'Signal'] == 'buy':
    entry_date = tdf.loc[index, 'Date']
    entry_price = tdf.loc[index, 'Close']
    exit_price = tdf.loc[index + 1, 'Close']
    exit_date = tdf.loc[index + 1, 'Date']
    profit = ((exit_price - entry_price)/exit_price)*100
    trade_df1 = pd.concat([trade_df1, pd.DataFrame({'Entry_date': entry_date, 'Type': 'long', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date, 'Profit': profit}, index=[0])], ignore_index=True)
  # elif row['Signal'] == 'Short':
  #   entry_date = tdf.loc[index, 'Date']
  #   entry_price = tdf.loc[index, 'Close']
  #   exit_price = tdf.loc[index + 1, 'Close']
  #   exit_date = tdf.loc[index + 1, 'Date']
  #   profit = ((entry_price - exit_price)/entry_price)*100
  #   trade_df1 = pd.concat([trade_df1, pd.DataFrame({'Entry_date': entry_date, 'Type': 'Short', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date, 'Profit': profit}, index=[0])], ignore_index=True)
trade_df1.to_excel('0.5%long_market.xlsx',index=False)

sum=0
for index, row in trade_df1.iterrows():
  sum += row['Profit']

print(sum)
trade_df1

65.29726972732787

    Entry_date  Entry_price  Exit_date  Exit_price  Type    Profit
0   2011-01-11     10914.00 2011-01-12    11129.25  long  1.934093
1   2011-01-12     11129.25 2011-01-13    10740.65  long -3.618031
2   2011-01-18     10633.10 2011-01-19    10634.45  long  0.012695
3   2011-01-20     10795.10 2011-01-21    10890.75  long  0.878268
4   2011-01-21     10890.75 2011-01-24    11138.55  long  2.224706
..         ...          ...        ...         ...   ...       ...
857 2023-03-17     39686.60 2023-03-20    39377.30  long -0.785478
858 2023-03-21     39867.50 2023-03-22    39958.85  long  0.228610
859 2023-03-29     40013.30 2023-03-31    40602.35  long  1.450778
860 2023-03-31     40602.35 2023-04-03    40815.10  long  0.521253
861 2023-04-13     42137.80 2023-04-17    42216.70  long  0.186893

[862 rows x 6 columns]

In [ ]:
trade_df6 = pd.DataFrame(columns=['Entry_date', 'Entry_price', 'Exit_date', 'Exit_price',  'Type', 'Profit'])

for index, row in tdf.iterrows():
  # if tdf.loc[index, 'Signal'] == 'buy':
  #   entry_date = tdf.loc[index, 'Date']
  #   entry_price = tdf.loc[index, 'Close']
  #   exit_price = tdf.loc[index + 1, 'Close']
  #   exit_date = tdf.loc[index + 1, 'Date']
  #   profit = ((exit_price - entry_price)/exit_price)*100
  #   trade_df1 = pd.concat([trade_df1, pd.DataFrame({'Entry_date': entry_date, 'Type': 'long', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date, 'Profit': profit}, index=[0])], ignore_index=True)
  if row['Signal'] == 'Short':
    entry_date = tdf.loc[index, 'Date']
    entry_price = tdf.loc[index, 'Close']
    exit_price = tdf.loc[index + 1, 'Close']
    exit_date = tdf.loc[index + 1, 'Date']
    profit = ((entry_price - exit_price)/entry_price)*100
    trade_df6 = pd.concat([trade_df6, pd.DataFrame({'Entry_date': entry_date, 'Type': 'Short', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date, 'Profit': profit}, index=[0])], ignore_index=True)
trade_df6.to_excel('0.5%short_market.xlsx',index=False)
sum=0
for index, row in trade_df6.iterrows():
  sum += row['Profit']

print(sum)
trade_df6

-7.938408967818026

    Entry_date  Entry_price  Exit_date  Exit_price   Type    Profit
0   2011-01-04     11559.60 2011-01-05    11306.05  Short  2.193415
1   2011-01-05     11306.05 2011-01-06    11168.75  Short  1.214394
2   2011-01-06     11168.75 2011-01-07    11017.45  Short  1.354673
3   2011-01-07     11017.45 2011-01-10    10686.00  Short  3.008409
4   2011-01-10     10686.00 2011-01-11    10914.00  Short -2.133633
..         ...          ...        ...         ...    ...       ...
985 2023-03-15     39020.80 2023-03-16    39210.10  Short -0.485126
986 2023-03-23     39580.15 2023-03-24    39351.80  Short  0.576931
987 2023-03-24     39351.80 2023-03-27    39309.45  Short  0.107619
988 2023-04-10     40796.45 2023-04-11    41385.05  Short -1.442773
989 2023-04-17     42216.70 2023-04-18    42255.65  Short -0.092262

[990 rows x 6 columns]

In [ ]:
tdf['1.01 close'] = tdf['Close']*1.01
tdf['0.99 close'] = tdf['Close']*0.99
tdf

,Date,Open,Close,High,Low,Change,Signal,next_high,next_low,next_open,next_close,1.01 close,0.99 close
0,2011-01-03,11882.10,11829.50,11912.15,11826.95,-0.444651,,11872.80,11545.55,11868.40,11559.60,11947.7950,11711.2050
1,2011-01-04,11868.40,11559.60,11872.80,11545.55,-2.671373,Short,11545.75,11265.55,11545.75,11306.05,11675.1960,11444.0040
2,2011-01-05,11545.75,11306.05,11545.75,11265.55,-2.120104,Short,11377.10,11164.75,11350.70,11168.75,11419.1105,11192.9895
3,2011-01-06,11350.70,11168.75,11377.10,11164.75,-1.629099,Short,11258.50,11007.90,11146.45,11017.45,11280.4375,11057.0625
4,2011-01-07,11146.45,11017.45,11258.50,11007.90,-1.170870,Short,11072.70,10671.60,11024.50,10686.00,11127.6245,10907.2755
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3039,2023-04-12,41426.00,41577.20,41610.15,41334.85,0.363661,,42193.95,41504.10,41680.10,42137.80,41992.9720,41161.4280
3040,2023-04-13,41680.10,42137.80,42193.95,41504.10,1.086198,buy,42603.55,41801.15,42603.55,42216.70,42559.1780,41716.4220
3041,2023-04-17,42603.55,42216.70,42603.55,41801.15,-0.916344,Short,42497.95,42119.80,42406.95,42255.65,42638.8670,41794.5330
3042,2023-04-18,42406.95,42255.65,42497.95,42119.80,-0.358059,,42338.20,42022.50,42280.10,42151.10,42678.2065,41833.0935
3043,2023-04-19,42280.10,42151.10,42338.20,42022.50,-0.306042,,NaN,NaN,NaN,NaN,42572.6110,41729.5890

In [ ]:

# trade_df2 = pd.DataFrame(columns=['Entry_date', 'Entry_price', 'Exit_price', 'Exit_date', 'Type']) #, 'Profit'])

# for index, row in tdf.iterrows():
#     if ((row['next_high'] >= row['Close']*1.01) and (row['Signal'] == 'buy')):
#         entry_date = tdf.loc[index + 1, 'Date']
#         entry_price = tdf.loc[index + 1, 'High']
#         exit_price = tdf.loc[index + 1, 'Close']
#         exit_date = tdf.loc[index + 1, 'Date']
#         #profit = ((exit_price - entry_price)/exit_price)*100
#         trade_df2 = pd.concat([trade_df2, pd.DataFrame({'Entry_date': entry_date, 'Type': 'TF', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date}, index=[0])], ignore_index=True)
#     elif ((row['Signal'] == 'Short' )and (row['next_low'] <= row['Close']*0.99)):
#         entry_date = tdf.loc[index + 1, 'Date']
#         entry_price = tdf.loc[index + 1, 'Low']
#         exit_price = tdf.loc[index + 1, 'Close']
#         exit_date = tdf.loc[index + 1, 'Date']
#         #profit = ((entry_price - exit_price)/entry_price)*100
#         trade_df2 = pd.concat([trade_df2, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date}, index=[0])], ignore_index=True)

# trade_df2.to_excel('1%TF_buy_1%MR_Short_Market.xlsx',index=False)
# trade_df2

    Entry_date  Entry_price  Exit_price  Exit_date Type
0   2011-01-05     11265.55    11306.05 2011-01-05   MR
1   2011-01-06     11164.75    11168.75 2011-01-06   MR
2   2011-01-07     11007.90    11017.45 2011-01-07   MR
3   2011-01-10     10671.60    10686.00 2011-01-10   MR
4   2011-01-12     11161.15    11129.25 2011-01-12   TF
..         ...          ...         ...        ...  ...
776 2023-03-13     39457.00    39627.00 2023-03-13   MR
777 2023-03-14     39136.15    39481.35 2023-03-14   MR
778 2023-03-16     38617.80    39210.10 2023-03-16   MR
779 2023-03-31     40688.85    40602.35 2023-03-31   TF
780 2023-04-17     42603.55    42216.70 2023-04-17   TF

[781 rows x 5 columns]

In [ ]:
trdf = rdf.groupby('Date').agg({'Open': 'first', 'Close': 'last', 'High': 'max', 'Low': 'min'}).reset_index()
trdf['1% increased close price'] = tdf['Close']*1.01
trdf

,Date,Open,Close,High,Low,1% increased close price
0,2011-01-03,11882.10,11829.50,11912.15,11826.95,11947.7950
1,2011-01-04,11868.40,11559.60,11872.80,11545.55,11675.1960
2,2011-01-05,11545.75,11306.05,11545.75,11265.55,11419.1105
3,2011-01-06,11350.70,11168.75,11377.10,11164.75,11280.4375
4,2011-01-07,11146.45,11017.45,11258.50,11007.90,11127.6245
...,...,...,...,...,...,...
3039,2023-04-12,41426.00,41577.20,41610.15,41334.85,41992.9720
3040,2023-04-13,41680.10,42137.80,42193.95,41504.10,42559.1780
3041,2023-04-17,42603.55,42216.70,42603.55,41801.15,42638.8670
3042,2023-04-18,42406.95,42255.65,42497.95,42119.80,42678.2065
3043,2023-04-19,42280.10,42151.10,42338.20,42022.50,42572.6110

In [ ]:
#trend following
trade_df3 = pd.DataFrame(columns=['Entry_date', 'Entry_price', 'Exit_price', 'Exit_date', 'Type','O/c*1.01'])

for index, row in tdf.iterrows():
    if ((tdf.loc[index, 'next_open'] >= row['Close']*1.01) and (row['Signal'] == 'buy')):
        entry_date = tdf.loc[index + 1, 'Date']
        entry_price = tdf.loc[index + 1, 'Open']
        exit_price = tdf.loc[index + 1, 'Close']
        exit_date = tdf.loc[index + 1, 'Date']
        print(index,'Open')
        x='O'
        trade_df3 = pd.concat([trade_df3, pd.DataFrame({'Entry_date': entry_date, 'Type': 'TF', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date,'O/c*1.01':x}, index=[0])], ignore_index=True)
    elif ((row['next_high'] >= row['Close']*1.01) and (row['Signal'] == 'buy')):
        entry_date = tdf.loc[index + 1, 'Date']
        entry_price = row['Close']*1.01
        exit_price = tdf.loc[index + 1, 'Close']
        exit_date = tdf.loc[index + 1, 'Date']
        print(index,'close')
        x='c*1.01'
        #profit = ((exit_price - entry_price)/exit_price)*100
        trade_df3 = pd.concat([trade_df3, pd.DataFrame({'Entry_date': entry_date, 'Type': 'TF', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date,'O/c*1.01':x}, index=[0])], ignore_index=True)
    # elif ((row['Signal'] == 'Short' )and (row['next_low'] <= row['Close']*0.99)):
    #     entry_date = tdf.loc[index + 1, 'Date']
    #     entry_price = tdf.loc[index + 1, 'Low']
    #     exit_price = tdf.loc[index + 1, 'Close']
    #     exit_date = tdf.loc[index + 1, 'Date']
    #     #profit = ((entry_price - exit_price)/entry_price)*100
    #     trade_df3 = pd.concat([trade_df3, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date}, index=[0])], ignore_index=True)
trade_df3['profit'] = trade_df3['Exit_price'] - trade_df3['Entry_price']

for index, row in trade_df3.iterrows():
  sum += row['profit']
print(sum)
trade_df3.to_excel('TF_1%long.xlsx',index=False)

trade_df3

6 close
13 close
14 close
15 close
22 close
28 close
29 close
31 close
32 close
38 close
40 close
41 close
44 close
49 close
55 close
56 close
57 close
58 close
73 close
118 close
119 close
132 close
139 close
144 Open
150 close
151 Open
164 Open
165 Open
168 close
174 close
178 close
190 close
191 close
193 close
195 close
204 close
208 close
222 Open
225 Open
239 close
240 close
248 close
254 close
255 close
256 close
258 close
261 close
262 close
264 close
269 close
271 close
278 close
287 close
294 Open
295 Open
302 close
309 close
310 close
311 close
316 close
317 close
319 close
330 close
343 close
344 Open
348 close
354 close
356 close
358 close
363 Open
368 close
370 close
373 close
404 close
420 Open
427 Open
431 close
461 close
475 close
476 close
479 close
497 close
506 close
516 close
541 close
542 close
544 close
557 close
566 close
567 close
568 close
569 close
570 close
572 close
581 close
589 close
621 close
637 Open
656 Open
658 close
659 close
664 close
667 Open
668 close
669 Open
670 close
673 Open
676 Open
685 close
686 close
696 close
698 close
705 close
714 Open
715 Open
725 close
730 Open
740 close
743 close
760 close
780 close
784 close
790 close
791 close
792 close
793 close
794 close
798 close
815 close
820 close
833 close
834 Open
838 Open
839 close
843 close
853 close
864 Open
879 Open
882 close
900 close
901 close
904 close
934 close
937 close
940 Open
948 close
954 close
962 close
980 Open
981 Open
1003 close
1007 close
1017 close
1029 Open
1030 close
1040 close
1068 close
1075 close
1105 close
1120 close
1135 close
1162 Open
1175 close
1185 close
1186 close
1205 close
1209 close
1227 close
1250 close
1253 close
1262 close
1268 Open
1277 close
1278 close
1279 Open
1289 close
1291 close
1296 Open
1305 close
1306 Open
1324 close
1334 close
1335 close
1340 close
1356 close
1366 close
1401 close
1422 close
1448 Open
1468 close
1481 close
1483 close
1488 close
1501 close
1502 close
1508 close
1519 close
1582 close
1678 close
1702 Open
1717 close
1745 Open
1769 close
1770 close
1780 close
1811 close
1831 close
1834 close
1881 close
1925 close
1928 Open
1930 Open
1932 Open
1938 close
1965 close
1966 close
1982 close
2001 close
2028 close
2031 close
2037 close
2070 close
2071 Open
2074 Open
2076 close
2097 close
2098 close
2129 close
2138 Open
2139 close
2147 close
2148 close
2156 Open
2188 close
2211 close
2229 Open
2240 close
2248 close
2249 close
2250 close
2279 close
2283 Open
2284 Open
2290 close
2291 Open
2295 Open
2296 Open
2299 close
2302 Open
2303 close
2304 Open
2312 Open
2318 close
2322 Open
2323 close
2324 Open
2325 Open
2326 Open
2329 Open
2338 close
2339 close
2340 close
2343 Open
2347 Open
2351 close
2359 Open
2361 Open
2366 close
2371 close
2374 close
2381 close
2384 close
2385 close
2386 close
2387 close
2388 close
2389 Open
2409 Open
2413 close
2416 close
2418 close
2423 Open
2425 close
2434 Open
2437 close
2438 Open
2439 Open
2440 close
2445 close
2448 close
2450 close
2470 close
2471 close
2472 close
2483 close
2494 Open
2496 close
2497 close
2499 close
2505 Open
2513 close
2540 close
2544 close
2547 Open
2549 close
2552 close
2553 close
2556 close
2565 Open
2569 close
2590 close
2600 close
2620 close
2649 close
2650 close
2670 Open
2674 close
2695 close
2705 Open
2716 close
2723 close
2724 close
2725 close
2727 close
2740 close
2750 close
2757 close
2759 close
2768 close
2769 Open
2771 close
2777 close
2785 Open
2799 close
2808 close
2809 close
2813 close
2817 close
2821 close
2822 close
2841 close
2842 Open
2847 close
2848 close
2850 close
2858 close
2859 close
2861 close
2865 close
2866 Open
2886 close
2893 close
2897 close
2900 close
2911 close
2919 close
2923 Open
2994 close
3015 close
3032 close
3040 Open
-1239.2554089679188

    Entry_date  Entry_price  Exit_price  Exit_date Type O/c*1.01    profit
0   2011-01-12   11023.1400    11129.25 2011-01-12   TF   c*1.01  106.1100
1   2011-01-21   10903.0510    10890.75 2011-01-21   TF   c*1.01  -12.3010
2   2011-01-24   10999.6575    11138.55 2011-01-24   TF   c*1.01  138.8925
3   2011-01-25   11249.9355    10879.05 2011-01-25   TF   c*1.01 -370.8855
4   2011-02-04   10762.2570    10424.35 2011-02-04   TF   c*1.01 -337.9070
..         ...          ...         ...        ...  ...      ...       ...
356 2022-10-24   41348.3500    41367.30 2022-10-24   TF        O   18.9500
357 2023-02-03   41129.6240    41480.75 2023-02-03   TF   c*1.01  351.1260
358 2023-03-06   41649.2185    41396.00 2023-03-06   TF   c*1.01 -253.2185
359 2023-03-31   40413.4330    40602.35 2023-03-31   TF   c*1.01  188.9170
360 2023-04-17   42603.5500    42216.70 2023-04-17   TF        O -386.8500

[361 rows x 7 columns]

In [ ]:
#mean
trade_df4 = pd.DataFrame(columns=['Entry_date', 'Entry_price', 'Exit_price', 'Exit_date', 'Type','O/c*0.99'])

for index, row in tdf.iterrows():
    if ((tdf.loc[index, 'next_open'] <= row['Close']*0.99) and (row['Signal'] == 'buy')):
        entry_date = tdf.loc[index + 1, 'Date']
        entry_price = tdf.loc[index + 1, 'Open']
        exit_price = tdf.loc[index + 1, 'Close']
        exit_date = tdf.loc[index + 1, 'Date']
        print(index,'Open')
        x='O'
        trade_df4 = pd.concat([trade_df4, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date,'O/c*0.99':x}, index=[0])], ignore_index=True)
    elif ((row['next_low'] <= row['Close']*0.99) and (row['Signal'] == 'buy')):
        entry_date = tdf.loc[index + 1, 'Date']
        entry_price = row['Close']*0.99
        exit_price = tdf.loc[index + 1, 'Close']
        exit_date = tdf.loc[index + 1, 'Date']
        print(index,'c*0.99')
        x='c*0.99'
        #profit = ((exit_price - entry_price)/exit_price)*100
        trade_df4 = pd.concat([trade_df4, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date,'O/c*0.99':x}, index=[0])], ignore_index=True)
    # elif ((row['Signal'] == 'Short' )and (row['next_low'] <= row['Close']*0.99)):
    #     entry_date = tdf.loc[index + 1, 'Date']
    #     entry_price = tdf.loc[index + 1, 'Low']
    #     exit_price = tdf.loc[index + 1, 'Close']
    #     exit_date = tdf.loc[index + 1, 'Date']
    #     #profit = ((entry_price - exit_price)/entry_price)*100
    #     trade_df3 = pd.concat([trade_df3, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date}, index=[0])], ignore_index=True)
trade_df4['profit'] = trade_df4['Exit_price'] - trade_df4['Entry_price']

for index, row in trade_df4.iterrows():
  sum += row['profit']
print(sum)
trade_df4.to_excel('MR_1%long.xlsx',index=False)
trade_df4

6 c*0.99
7 c*0.99
15 c*0.99
19 c*0.99
22 c*0.99
32 c*0.99
34 c*0.99
38 c*0.99
40 c*0.99
48 Open
50 c*0.99
60 c*0.99
63 c*0.99
69 c*0.99
84 c*0.99
89 c*0.99
94 c*0.99
111 c*0.99
128 c*0.99
136 c*0.99
140 c*0.99
149 Open
150 Open
167 c*0.99
169 c*0.99
174 c*0.99
175 c*0.99
179 Open
183 c*0.99
185 c*0.99
198 Open
205 c*0.99
215 Open
221 c*0.99
223 c*0.99
227 c*0.99
233 Open
239 Open
240 c*0.99
242 c*0.99
268 c*0.99
269 c*0.99
275 c*0.99
279 c*0.99
282 c*0.99
287 c*0.99
298 c*0.99
303 c*0.99
305 c*0.99
317 c*0.99
319 c*0.99
334 c*0.99
340 Open
344 c*0.99
357 c*0.99
363 c*0.99
367 Open
368 c*0.99
394 c*0.99
396 c*0.99
405 c*0.99
415 c*0.99
418 c*0.99
429 Open
439 c*0.99
449 c*0.99
453 c*0.99
462 c*0.99
481 c*0.99
507 c*0.99
549 c*0.99
560 c*0.99
573 c*0.99
579 c*0.99
586 c*0.99
605 c*0.99
611 c*0.99
612 c*0.99
614 Open
622 c*0.99
628 c*0.99
632 Open
635 c*0.99
647 c*0.99
659 c*0.99
668 c*0.99
670 c*0.99
671 c*0.99
677 c*0.99
680 c*0.99
690 c*0.99
693 c*0.99
721 c*0.99
733 Open
738 c*0.99
749 c*0.99
755 c*0.99
782 c*0.99
793 Open
797 Open
823 c*0.99
843 c*0.99
846 c*0.99
851 c*0.99
860 c*0.99
872 c*0.99
889 c*0.99
898 c*0.99
905 c*0.99
925 c*0.99
929 c*0.99
935 c*0.99
955 c*0.99
963 c*0.99
975 c*0.99
978 c*0.99
983 c*0.99
995 c*0.99
1011 c*0.99
1034 Open
1050 c*0.99
1076 c*0.99
1078 c*0.99
1098 c*0.99
1109 c*0.99
1115 Open
1152 c*0.99
1159 c*0.99
1166 c*0.99
1169 Open
1170 c*0.99
1172 c*0.99
1178 c*0.99
1201 Open
1202 c*0.99
1204 c*0.99
1238 c*0.99
1250 Open
1257 c*0.99
1262 c*0.99
1268 c*0.99
1277 c*0.99
1282 c*0.99
1284 c*0.99
1289 c*0.99
1307 c*0.99
1323 Open
1349 c*0.99
1355 Open
1410 c*0.99
1420 c*0.99
1449 c*0.99
1459 Open
1462 c*0.99
1469 c*0.99
1484 c*0.99
1593 c*0.99
1639 c*0.99
1715 c*0.99
1754 c*0.99
1757 Open
1758 c*0.99
1760 Open
1762 c*0.99
1771 c*0.99
1794 c*0.99
1832 c*0.99
1918 c*0.99
1924 Open
1928 c*0.99
1936 c*0.99
1952 c*0.99
1963 Open
1972 c*0.99
1979 c*0.99
2001 c*0.99
2018 Open
2047 c*0.99
2052 c*0.99
2056 c*0.99
2058 c*0.99
2068 c*0.99
2072 c*0.99
2080 c*0.99
2123 c*0.99
2127 c*0.99
2130 c*0.99
2145 c*0.99
2151 c*0.99
2157 c*0.99
2160 c*0.99
2167 c*0.99
2189 c*0.99
2205 c*0.99
2225 c*0.99
2241 c*0.99
2268 c*0.99
2273 Open
2275 Open
2279 c*0.99
2280 Open
2290 Open
2292 c*0.99
2296 c*0.99
2300 Open
2303 Open
2308 Open
2318 c*0.99
2323 Open
2329 c*0.99
2332 c*0.99
2334 c*0.99
2341 c*0.99
2353 Open
2363 Open
2376 c*0.99
2389 c*0.99
2401 c*0.99
2410 c*0.99
2418 c*0.99
2421 c*0.99
2426 c*0.99
2430 c*0.99
2435 c*0.99
2440 c*0.99
2441 c*0.99
2446 Open
2448 c*0.99
2450 c*0.99
2460 c*0.99
2473 c*0.99
2506 c*0.99
2518 Open
2519 Open
2529 c*0.99
2531 c*0.99
2535 c*0.99
2537 c*0.99
2544 c*0.99
2547 c*0.99
2549 c*0.99
2553 c*0.99
2556 c*0.99
2562 c*0.99
2602 c*0.99
2676 c*0.99
2677 c*0.99
2702 c*0.99
2706 c*0.99
2726 Open
2738 c*0.99
2740 Open
2741 c*0.99
2745 c*0.99
2754 c*0.99
2757 c*0.99
2758 Open
2762 Open
2763 Open
2772 c*0.99
2777 c*0.99
2786 c*0.99
2797 Open
2802 c*0.99
2804 c*0.99
2831 Open
2837 c*0.99
2839 c*0.99
2853 c*0.99
2879 c*0.99
2887 Open
2909 c*0.99
2914 c*0.99
2916 c*0.99
2963 c*0.99
2970 c*0.99
2973 c*0.99
3024 c*0.99
-196677.35990896804

    Entry_date  Entry_price  Exit_price  Exit_date Type O/c*0.99    profit
0   2011-01-12   10804.8600    11129.25 2011-01-12   MR   c*0.99  324.3900
1   2011-01-13   11017.9575    10740.65 2011-01-13   MR   c*0.99 -277.3075
2   2011-01-25   11027.1645    10879.05 2011-01-25   MR   c*0.99 -148.1145
3   2011-02-01   10526.4225    10466.40 2011-02-01   MR   c*0.99  -60.0225
4   2011-02-04   10549.1430    10424.35 2011-02-04   MR   c*0.99 -124.7930
..         ...          ...         ...        ...  ...      ...       ...
273 2022-10-13   38737.3140    38658.10 2022-10-13   MR   c*0.99  -79.2140
274 2022-12-21   42973.7220    42658.05 2022-12-21   MR   c*0.99 -315.6720
275 2022-12-30   42876.0090    43038.50 2022-12-30   MR   c*0.99  162.4910
276 2023-01-04   43013.8665    42979.60 2023-01-04   MR   c*0.99  -34.2665
277 2023-03-20   39289.7340    39377.30 2023-03-20   MR   c*0.99   87.5660

[278 rows x 7 columns]

In [ ]:
#trend following
trade_df6 = pd.DataFrame(columns=['Entry_date', 'Entry_price', 'Exit_price', 'Exit_date', 'Type','O/c*1.01'])

for index, row in tdf.iterrows():
    if ((tdf.loc[index, 'next_open'] >= row['Close']*1.01) and (row['Signal'] == 'Short')):
        entry_date = tdf.loc[index + 1, 'Date']
        entry_price = tdf.loc[index + 1, 'Open']
        exit_price = tdf.loc[index + 1, 'Close']
        exit_date = tdf.loc[index + 1, 'Date']
        print(index,'Open')
        x='O'
        trade_df6 = pd.concat([trade_df6, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR/Short', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date,'O/c*1.01':x}, index=[0])], ignore_index=True)
    elif ((row['next_high'] >= row['Close']*1.01) and (row['Signal'] == 'Short')):
        entry_date = tdf.loc[index + 1, 'Date']
        entry_price = row['Close']*1.01
        exit_price = tdf.loc[index + 1, 'Close']
        exit_date = tdf.loc[index + 1, 'Date']
        print(index,'c*1.01')
        x='c*1.01'
        #profit = ((exit_price - entry_price)/exit_price)*100
        trade_df6 = pd.concat([trade_df6, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR/Short', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date,'O/c*1.01':x}, index=[0])], ignore_index=True)
    # elif ((row['Signal'] == 'Short' )and (row['next_low'] <= row['Close']*0.99)):
    #     entry_date = tdf.loc[index + 1, 'Date']
    #     entry_price = tdf.loc[index + 1, 'Low']
    #     exit_price = tdf.loc[index + 1, 'Close']
    #     exit_date = tdf.loc[index + 1, 'Date']
    #     #profit = ((entry_price - exit_price)/entry_price)*100
    #     trade_df3 = pd.concat([trade_df3, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date}, index=[0])], ignore_index=True)
trade_df6['profit'] = trade_df6['Entry_price'] - trade_df6['Exit_price']

for index, row in trade_df6.iterrows():
  sum += row['profit']
print(sum)
trade_df6.to_excel('MR_1%short.xlsx',index=False)
trade_df6

5 c*1.01
8 c*1.01
9 c*1.01
20 Open
21 c*1.01
25 c*1.01
37 c*1.01
39 Open
43 c*1.01
52 c*1.01
62 c*1.01
70 c*1.01
80 c*1.01
83 c*1.01
88 c*1.01
93 c*1.01
95 c*1.01
97 c*1.01
115 c*1.01
124 Open
127 c*1.01
138 c*1.01
143 c*1.01
153 Open
154 Open
161 Open
163 Open
172 c*1.01
173 c*1.01
177 c*1.01
181 c*1.01
184 c*1.01
189 Open
192 c*1.01
200 Open
201 c*1.01
212 Open
218 c*1.01
220 c*1.01
224 c*1.01
232 c*1.01
238 Open
241 c*1.01
245 Open
260 c*1.01
265 Open
267 Open
276 c*1.01
283 c*1.01
286 c*1.01
289 c*1.01
292 c*1.01
293 c*1.01
296 c*1.01
299 c*1.01
301 c*1.01
304 Open
306 Open
318 c*1.01
321 c*1.01
333 c*1.01
336 c*1.01
339 c*1.01
342 c*1.01
353 c*1.01
359 c*1.01
362 c*1.01
369 c*1.01
372 Open
383 c*1.01
392 Open
393 c*1.01
414 c*1.01
419 c*1.01
423 c*1.01
435 c*1.01
441 c*1.01
443 c*1.01
448 c*1.01
456 c*1.01
464 c*1.01
474 c*1.01
484 c*1.01
485 c*1.01
505 c*1.01
537 c*1.01
548 c*1.01
553 c*1.01
555 Open
564 c*1.01
565 Open
574 c*1.01
576 c*1.01
578 c*1.01
587 c*1.01
595 c*1.01
602 c*1.01
606 c*1.01
617 c*1.01
619 Open
629 Open
634 c*1.01
636 c*1.01
642 c*1.01
644 Open
646 c*1.01
648 c*1.01
651 c*1.01
655 c*1.01
666 c*1.01
672 c*1.01
684 c*1.01
689 c*1.01
695 c*1.01
702 c*1.01
707 c*1.01
720 c*1.01
737 c*1.01
739 c*1.01
754 c*1.01
765 c*1.01
770 c*1.01
778 c*1.01
783 c*1.01
786 c*1.01
789 c*1.01
810 c*1.01
814 c*1.01
818 c*1.01
826 c*1.01
828 c*1.01
835 c*1.01
841 c*1.01
848 c*1.01
855 c*1.01
867 c*1.01
874 c*1.01
875 c*1.01
876 c*1.01
888 c*1.01
890 c*1.01
899 c*1.01
903 c*1.01
922 c*1.01
928 c*1.01
936 c*1.01
939 c*1.01
974 c*1.01
979 c*1.01
996 c*1.01
1013 c*1.01
1016 c*1.01
1021 c*1.01
1028 c*1.01
1033 c*1.01
1051 c*1.01
1055 c*1.01
1067 c*1.01
1074 Open
1077 c*1.01
1099 c*1.01
1103 c*1.01
1127 c*1.01
1143 c*1.01
1151 Open
1153 Open
1157 Open
1158 c*1.01
1161 c*1.01
1165 c*1.01
1167 Open
1171 c*1.01
1174 c*1.01
1177 Open
1181 c*1.01
1190 c*1.01
1195 c*1.01
1208 c*1.01
1229 c*1.01
1233 c*1.01
1245 c*1.01
1249 c*1.01
1251 Open
1267 Open
1276 Open
1283 c*1.01
1285 c*1.01
1290 c*1.01
1308 c*1.01
1350 c*1.01
1368 c*1.01
1377 c*1.01
1384 c*1.01
1433 c*1.01
1445 Open
1451 Open
1452 c*1.01
1458 c*1.01
1467 c*1.01
1480 c*1.01
1487 c*1.01
1496 c*1.01
1542 c*1.01
1566 Open
1568 c*1.01
1647 c*1.01
1668 c*1.01
1677 c*1.01
1716 c*1.01
1744 c*1.01
1746 c*1.01
1759 c*1.01
1763 c*1.01
1777 c*1.01
1779 c*1.01
1789 c*1.01
1795 Open
1810 c*1.01
1820 c*1.01
1836 Open
1848 c*1.01
1867 c*1.01
1913 c*1.01
1916 c*1.01
1921 c*1.01
1923 c*1.01
1935 Open
1945 c*1.01
1951 c*1.01
1953 c*1.01
1962 c*1.01
1974 c*1.01
1976 c*1.01
1981 c*1.01
2046 c*1.01
2055 c*1.01
2057 c*1.01
2067 c*1.01
2069 c*1.01
2073 c*1.01
2075 c*1.01
2079 c*1.01
2081 c*1.01
2086 c*1.01
2100 c*1.01
2118 c*1.01
2126 c*1.01
2128 c*1.01
2131 c*1.01
2144 c*1.01
2146 c*1.01
2155 c*1.01
2159 c*1.01
2162 c*1.01
2164 c*1.01
2165 c*1.01
2166 c*1.01
2168 c*1.01
2169 c*1.01
2172 c*1.01
2177 c*1.01
2185 c*1.01
2197 c*1.01
2204 c*1.01
2220 c*1.01
2227 Open
2239 c*1.01
2245 Open
2253 c*1.01
2266 Open
2267 c*1.01
2269 c*1.01
2272 c*1.01
2274 c*1.01
2276 Open
2277 Open
2281 Open
2282 c*1.01
2286 Open
2289 Open
2293 Open
2294 c*1.01
2298 c*1.01
2306 Open
2307 c*1.01
2310 Open
2316 Open
2317 c*1.01
2319 c*1.01
2320 Open
2328 c*1.01
2330 c*1.01
2331 c*1.01
2333 c*1.01
2335 Open
2336 c*1.01
2342 c*1.01
2346 c*1.01
2349 Open
2352 c*1.01
2354 c*1.01
2356 Open
2357 c*1.01
2362 c*1.01
2365 c*1.01
2370 c*1.01
2372 c*1.01
2380 c*1.01
2390 c*1.01
2397 c*1.01
2400 c*1.01
2408 Open
2420 c*1.01
2422 c*1.01
2429 c*1.01
2433 Open
2444 Open
2447 c*1.01
2449 c*1.01
2451 c*1.01
2455 Open
2456 c*1.01
2468 c*1.01
2477 c*1.01
2482 c*1.01
2487 Open
2491 Open
2511 Open
2512 c*1.01
2515 Open
2527 Open
2528 c*1.01
2530 c*1.01
2533 Open
2536 c*1.01
2539 c*1.01
2543 c*1.01
2548 c*1.01
2557 c*1.01
2564 c*1.01
2568 c*1.01
2582 c*1.01
2611 Open
2633 c*1.01
2654 c*1.01
2664 Open
2698 c*1.01
2699 c*1.01
2700 c*1.01
2704 c*1.01
2714 Open
2715 c*1.01
2739 c*1.01
2742 Open
2746 c*1.01
2749 c*1.01
2753 c*1.01
2761 Open
2767 c*1.01
2770 c*1.01
2773 Open
2776 c*1.01
2795 Open
2805 Open
2811 Open
2812 c*1.01
2820 Open
2824 c*1.01
2838 c*1.01
2840 c*1.01
2849 c*1.01
2864 c*1.01
2867 c*1.01
2871 c*1.01
2881 c*1.01
2884 c*1.01
2905 c*1.01
2907 Open
2908 c*1.01
2910 Open
2915 c*1.01
2917 Open
2925 c*1.01
2966 c*1.01
2976 c*1.01
2990 c*1.01
3001 c*1.01
3010 c*1.01
3014 c*1.01
3037 Open
-188582.7479089679

,Entry_date,Entry_price,Exit_price,Exit_date,Type,O/c*1.01,profit
0,2011-01-11,10792.8600,10914.00,2011-01-11,MR/Short,c*1.01,-121.1400
1,2011-01-14,10848.0565,10443.75,2011-01-14,MR/Short,c*1.01,404.3065
2,2011-01-17,10548.1875,10489.75,2011-01-17,MR/Short,c*1.01,58.4375
3,2011-02-02,10599.0000,10450.35,2011-02-02,MR/Short,O,148.6500
4,2011-02-03,10554.8535,10655.70,2011-02-03,MR/Short,c*1.01,-100.8465
...,...,...,...,...,...,...,...
385,2023-01-30,40768.9530,40467.30,2023-01-30,MR/Short,c*1.01,301.6530
386,2023-02-14,41673.4585,41625.50,2023-02-14,MR/Short,c*1.01,47.9585
387,2023-02-27,40303.7470,40355.85,2023-02-27,MR/Short,c*1.01,-52.1030
388,2023-03-03,40736.0270,41236.85,2023-03-03,MR/Short,c*1.01,-500.8230
389,2023-04-11,41232.0000,41385.05,2023-04-11,MR/Short,O,-153.0500

In [ ]:
trade_df7 = pd.DataFrame(columns=['Entry_date', 'Entry_price', 'Exit_price', 'Exit_date', 'Type','O/C*0.99'])

for index, row in tdf.iterrows():
    if ((tdf.loc[index, 'next_open'] <= row['Close']*0.99) and (row['Signal'] == 'Short')):
        entry_date = tdf.loc[index + 1, 'Date']
        entry_price = tdf.loc[index + 1, 'Open']
        exit_price = tdf.loc[index + 1, 'Close']
        exit_date = tdf.loc[index + 1, 'Date']
        print(index,'Open')
        x='O'
        trade_df7 = pd.concat([trade_df7, pd.DataFrame({'Entry_date': entry_date, 'Type': 'TF/Short', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date,'O/C*0.99':x}, index=[0])], ignore_index=True)
    elif ((row['next_low'] <= row['Close']*0.99) and (row['Signal'] == 'Short')):
        entry_date = tdf.loc[index + 1, 'Date']
        entry_price = row['Close']*0.99
        exit_price = tdf.loc[index + 1, 'Close']
        exit_date = tdf.loc[index + 1, 'Date']
        print(index,'C*0.99')
        x='C*0.99'
        #profit = ((exit_price - entry_price)/exit_price)*100
        trade_df7 = pd.concat([trade_df7, pd.DataFrame({'Entry_date': entry_date, 'Type': 'TF/Short', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date,'O/C*0.99':x}, index=[0])], ignore_index=True)
    # elif ((row['Signal'] == 'Short' )and (row['next_low'] <= row['Close']*0.99)):
    #     entry_date = tdf.loc[index + 1, 'Date']
    #     entry_price = tdf.loc[index + 1, 'Low']
    #     exit_price = tdf.loc[index + 1, 'Close']
    #     exit_date = tdf.loc[index + 1, 'Date']
    #     #profit = ((entry_price - exit_price)/entry_price)*100
    #     trade_df3 = pd.concat([trade_df3, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date}, index=[0])], ignore_index=True)
trade_df7['profit'] = trade_df7['Entry_price'] - trade_df7['Exit_price']

for index, row in trade_df7.iterrows():
  sum += row['profit']
print(sum)
trade_df7.to_excel('TF_1%Short.xlsx',index=False)
trade_df7

1 C*0.99
2 C*0.99
3 C*0.99
4 C*0.99
8 C*0.99
16 C*0.99
17 C*0.99
18 Open
24 C*0.99
25 C*0.99
33 C*0.99
35 C*0.99
36 C*0.99
46 C*0.99
61 C*0.99
67 C*0.99
70 C*0.99
77 C*0.99
78 C*0.99
79 C*0.99
80 C*0.99
81 C*0.99
85 C*0.99
90 C*0.99
91 C*0.99
112 C*0.99
114 C*0.99
129 C*0.99
130 C*0.99
137 C*0.99
141 C*0.99
142 C*0.99
145 C*0.99
146 Open
148 Open
153 C*0.99
154 C*0.99
155 C*0.99
156 C*0.99
157 Open
161 C*0.99
162 C*0.99
166 C*0.99
171 Open
172 C*0.99
180 Open
181 C*0.99
184 C*0.99
186 Open
187 C*0.99
188 C*0.99
201 C*0.99
211 C*0.99
213 C*0.99
214 C*0.99
216 C*0.99
220 C*0.99
224 C*0.99
229 C*0.99
230 Open
232 C*0.99
236 C*0.99
237 C*0.99
243 C*0.99
244 C*0.99
265 C*0.99
266 C*0.99
283 C*0.99
285 C*0.99
288 C*0.99
292 C*0.99
299 C*0.99
300 C*0.99
308 C*0.99
323 C*0.99
332 C*0.99
333 Open
335 C*0.99
342 Open
345 C*0.99
351 Open
353 C*0.99
364 C*0.99
387 C*0.99
388 C*0.99
401 C*0.99
402 C*0.99
411 C*0.99
412 C*0.99
440 C*0.99
533 C*0.99
536 C*0.99
546 C*0.99
547 C*0.99
548 C*0.99
550 Open
552 C*0.99
561 C*0.99
564 C*0.99
580 C*0.99
592 C*0.99
601 C*0.99
602 C*0.99
606 C*0.99
607 C*0.99
615 C*0.99
623 Open
633 C*0.99
634 C*0.99
639 C*0.99
641 C*0.99
642 C*0.99
643 C*0.99
644 C*0.99
646 C*0.99
654 C*0.99
655 Open
657 Open
660 Open
661 Open
672 C*0.99
674 C*0.99
678 Open
679 Open
683 Open
689 C*0.99
707 C*0.99
708 C*0.99
709 C*0.99
710 C*0.99
711 C*0.99
713 C*0.99
718 C*0.99
719 C*0.99
731 C*0.99
732 C*0.99
734 Open
748 C*0.99
750 C*0.99
753 C*0.99
758 C*0.99
764 Open
765 C*0.99
767 Open
770 Open
809 C*0.99
826 C*0.99
840 C*0.99
844 C*0.99
847 C*0.99
854 C*0.99
858 C*0.99
861 C*0.99
865 C*0.99
873 C*0.99
875 C*0.99
876 C*0.99
887 C*0.99
890 C*0.99
906 Open
912 C*0.99
926 C*0.99
927 C*0.99
928 C*0.99
936 C*0.99
972 C*0.99
973 C*0.99
979 C*0.99
992 C*0.99
993 C*0.99
998 C*0.99
1010 C*0.99
1012 C*0.99
1014 C*0.99
1015 C*0.99
1024 C*0.99
1027 C*0.99
1033 C*0.99
1035 C*0.99
1043 C*0.99
1044 C*0.99
1048 C*0.99
1053 C*0.99
1060 C*0.99
1061 C*0.99
1065 C*0.99
1066 C*0.99
1073 C*0.99
1091 C*0.99
1092 C*0.99
1093 C*0.99
1126 C*0.99
1129 C*0.99
1130 C*0.99
1141 C*0.99
1142 C*0.99
1149 Open
1157 C*0.99
1160 C*0.99
1171 C*0.99
1174 Open
1194 C*0.99
1199 C*0.99
1207 C*0.99
1221 C*0.99
1245 C*0.99
1248 C*0.99
1255 C*0.99
1256 Open
1258 C*0.99
1259 C*0.99
1263 C*0.99
1265 C*0.99
1266 C*0.99
1269 C*0.99
1274 C*0.99
1283 C*0.99
1285 C*0.99
1302 C*0.99
1315 C*0.99
1326 C*0.99
1380 C*0.99
1417 C*0.99
1438 C*0.99
1442 Open
1450 C*0.99
1451 C*0.99
1454 C*0.99
1457 C*0.99
1463 C*0.99
1472 Open
1603 C*0.99
1630 C*0.99
1634 C*0.99
1635 C*0.99
1640 C*0.99
1665 C*0.99
1755 C*0.99
1756 Open
1765 C*0.99
1766 C*0.99
1772 Open
1776 C*0.99
1784 C*0.99
1788 Open
1836 C*0.99
1854 C*0.99
1886 Open
1900 C*0.99
1901 C*0.99
1905 C*0.99
1909 C*0.99
1911 C*0.99
1912 C*0.99
1915 C*0.99
1919 Open
1929 C*0.99
1931 Open
1933 C*0.99
1974 C*0.99
1997 C*0.99
2035 C*0.99
2053 C*0.99
2063 C*0.99
2088 C*0.99
2090 C*0.99
2114 C*0.99
2115 C*0.99
2121 C*0.99
2124 C*0.99
2135 C*0.99
2136 C*0.99
2137 C*0.99
2141 C*0.99
2154 C*0.99
2158 C*0.99
2162 C*0.99
2163 C*0.99
2164 C*0.99
2168 C*0.99
2206 C*0.99
2226 C*0.99
2228 Open
2256 C*0.99
2258 C*0.99
2266 C*0.99
2274 Open
2276 C*0.99
2277 C*0.99
2278 Open
2281 C*0.99
2282 Open
2285 Open
2287 C*0.99
2288 C*0.99
2293 C*0.99
2294 C*0.99
2297 Open
2298 C*0.99
2305 Open
2306 C*0.99
2307 C*0.99
2310 C*0.99
2311 Open
2313 Open
2314 C*0.99
2315 C*0.99
2316 C*0.99
2319 Open
2330 C*0.99
2333 Open
2335 C*0.99
2336 C*0.99
2342 Open
2348 C*0.99
2354 C*0.99
2355 Open
2357 C*0.99
2364 C*0.99
2365 C*0.99
2368 C*0.99
2378 C*0.99
2379 C*0.99
2393 Open
2396 C*0.99
2404 C*0.99
2405 C*0.99
2406 C*0.99
2411 C*0.99
2419 C*0.99
2420 C*0.99
2428 C*0.99
2431 C*0.99
2442 C*0.99
2467 C*0.99
2468 C*0.99
2477 C*0.99
2486 C*0.99
2490 C*0.99
2492 C*0.99
2493 Open
2509 C*0.99
2510 C*0.99
2514 Open
2524 C*0.99
2525 C*0.99
2526 C*0.99
2527 C*0.99
2528 C*0.99
2532 C*0.99
2538 C*0.99
2539 C*0.99
2541 C*0.99
2542 Open
2546 Open
2548 Open
2554 Open
2555 Open
2563 C*0.99
2581 C*0.99
2584 C*0.99
2587 Open
2603 C*0.99
2609 Open
2615 C*0.99
2631 C*0.99
2643 C*0.99
2652 C*0.99
2658 C*0.99
2660 C*0.99
2678 C*0.99
2679 C*0.99
2694 Open
2698 C*0.99
2699 C*0.99
2703 C*0.99
2709 C*0.99
2712 C*0.99
2713 Open
2717 C*0.99
2718 C*0.99
2732 C*0.99
2737 Open
2739 C*0.99
2747 C*0.99
2748 C*0.99
2755 C*0.99
2760 Open
2765 Open
2767 Open
2776 C*0.99
2778 Open
2787 C*0.99
2793 Open
2798 C*0.99
2803 Open
2806 Open
2811 C*0.99
2815 Open
2832 Open
2880 C*0.99
2891 C*0.99
2898 C*0.99
2903 C*0.99
2904 Open
2905 C*0.99
2906 Open
2965 C*0.99
2974 C*0.99
2975 C*0.99
2988 C*0.99
2989 C*0.99
2990 Open
2993 Open
3004 C*0.99
3005 C*0.99
3018 Open
3019 C*0.99
3020 C*0.99
3022 C*0.99
-172292.45190896784

,Entry_date,Entry_price,Exit_price,Exit_date,Type,O/C*0.99,profit
0,2011-01-05,11444.0040,11306.05,2011-01-05,TF/Short,C*0.99,137.9540
1,2011-01-06,11192.9895,11168.75,2011-01-06,TF/Short,C*0.99,24.2395
2,2011-01-07,11057.0625,11017.45,2011-01-07,TF/Short,C*0.99,39.6125
3,2011-01-10,10907.2755,10686.00,2011-01-10,TF/Short,C*0.99,221.2755
4,2011-01-14,10633.2435,10443.75,2011-01-14,TF/Short,C*0.99,189.4935
...,...,...,...,...,...,...,...
415,2023-02-20,40720.6800,40707.15,2023-02-20,TF/Short,C*0.99,13.5300
416,2023-03-10,40805.2500,40488.75,2023-03-10,TF/Short,O,316.5000
417,2023-03-13,40083.8625,39627.00,2023-03-13,TF/Short,C*0.99,456.8625
418,2023-03-14,39230.7300,39481.35,2023-03-14,TF/Short,C*0.99,-250.6200
419,2023-03-16,38630.5920,39210.10,2023-03-16,TF/Short,C*0.99,-579.5080

In [ ]:
# trade_df5 = pd.DataFrame(columns=['Entry_date', 'Entry_price', 'Exit_price', 'Exit_date', 'Type']) #, 'Profit'])

# for index, row in tdf.iterrows():
#     if ((row['next_high'] >= row['Close']*1.01) and (row['Signal'] != 'Short')):
#         entry_date = tdf.loc[index + 1, 'Date']
#         entry_price = tdf.loc[index + 1, 'High']
#         exit_price = tdf.loc[index + 1, 'Close']
#         exit_date = tdf.loc[index + 1, 'Date']
#         #profit = ((exit_price - entry_price)/exit_price)*100
#         trade_df5 = pd.concat([trade_df5, pd.DataFrame({'Entry_date': entry_date, 'Type': 'MR', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date}, index=[0])], ignore_index=True)
#     elif ((row['Signal'] == 'buy' )and (row['next_low'] <= row['Close']*0.99)):
#         entry_date = tdf.loc[index + 1, 'Date']
#         entry_price = tdf.loc[index + 1, 'Low']
#         exit_price = tdf.loc[index + 1, 'Close']
#         exit_date = tdf.loc[index + 1, 'Date']
#         #profit = ((entry_price - exit_price)/entry_price)*100
#         trade_df5 = pd.concat([trade_df5, pd.DataFrame({'Entry_date': entry_date, 'Type': 'TF', 'Entry_price': entry_price, 'Exit_price': exit_price, 'Exit_date': exit_date}, index=[0])], ignore_index=True)
# trade_df5.to_excel('MR_Short_1%_TF_buy_1%_market.xlsx',index=False)
# trade_df5

    Entry_date  Entry_price  Exit_price  Exit_date Type
0   2011-01-12     11161.15    11129.25 2011-01-12   MR
1   2011-01-13     10676.50    10740.65 2011-01-13   TF
2   2011-01-18     10677.95    10633.10 2011-01-18   MR
3   2011-01-20     10878.80    10795.10 2011-01-20   MR
4   2011-01-21     10923.70    10890.75 2011-01-21   MR
..         ...          ...         ...        ...  ...
959 2023-03-21     39970.20    39867.50 2023-03-21   MR
960 2023-03-29     40051.90    40013.30 2023-03-29   MR
961 2023-03-31     40688.85    40602.35 2023-03-31   MR
962 2023-04-13     42193.95    42137.80 2023-04-13   MR
963 2023-04-17     42603.55    42216.70 2023-04-17   MR

[964 rows x 5 columns]